

<nav class="navbar navbar-default navbar-style ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="navbar-brand bongo-design">BONGOPASS</span></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        
      <ul class="nav navbar-nav navbar-right">

        <!-- if user is NOT signed in  -->
        <% if (!user_signed_in?) %>

          <li class="hidden-xs"><%= link_to "Help", support_path, class: "nav-menu" %></li>
          <li><%= link_to "Log In", new_user_session_path, class: "nav-menu" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-menu"  %></li> 
          <li class="visible-xs"><%= link_to "Help", support_path, class: "nav-menu" %></li>

        <% else %>

          <li class="hidden-xs"><%= link_to "Help", support_path, class: "nav-menu" %></li>

          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle nav-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if avatar_url(current_user) %>
                <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp; 
              <% end -%>
              <%= current_user.fullname %> <span class="caret"></span>
            </a>

              <ul class="dropdown-menu ">
              <% if current_user && current_user.create_permission == "allow" %>
                <li><%= link_to "My Events", events_path, class: "nav-text"  %></li>
              <% end %>
                <li><%= link_to "My Passes", purchases_path, class: "nav-text"  %></li>
                <li><%= link_to "Account Settings", edit_user_registration_path, class: "nav-text"  %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log Out", destroy_user_session_path, class: "nav-text" , method: :delete %></li>
              </ul>
          </li>

          <% if current_user && current_user.create_permission == "allow" %>
            <li class=""><%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "nav-menu hidden-xs" %></li>
          <% end %>

    <!-- for mobile dropdown -->

          <% if current_user && current_user.create_permission == "allow" %>
            <li class=""><%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "nav-text visible-xs" %></li>
            <li class="visible-xs"><%= link_to "My Events", events_path, class: "nav-text"  %></li>
          <% end %>

          <li class="visible-xs"><%= link_to "My Passes", purchases_path, class: "nav-text"  %></li>
          <li class="visible-xs"><%= link_to "Account Settings", edit_user_registration_path, class: "nav-text"  %></li>
          <li class="visible-xs"><%= link_to "Help", support_path, class: "nav-text" %></li>
          <li class="visible-xs"><%= link_to "Log Out", destroy_user_session_path, class: "nav-text" , method: :delete %></li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>

