<!-- Static navbar -->
<nav class="navbar-z-position navbar-default">
  <div class="container">
    <div class="navbar-header">

      <a class="bongo-design"><%= link_to "bongopass", root_path, class: "bongo-design" %> </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

<!-- if user is NOT signed in  -->
        <% if (!user_signed_in?) %>

          <li class="dropdown about-button-position"><a href="#about" class="about-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Pricing", events_path %></li>
            </ul>
          </li>        

          <li class="login-button"><%= link_to "Log In", new_user_session_path, class: "login-text" %></li>
          <li class="create-event-button"><%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "create-event-text" %></li>

          <!-- <li><%= link_to "Log In", new_user_session_path %></li> -->
          <!-- <li><%= link_to "Sign Up", new_user_registration_path %></li> -->

<!-- if user IS signed in  -->
        <% else %>
          <li class="dropdown about-button-position"><a href="#about" class="about-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Pricing", events_path %></li>
            </ul>
          </li>

          <!-- username and dropdown menu  -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if avatar_url(current_user) %>
                <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp; 
              <% end -%>
              <%= current_user.fullname %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to "My Events", events_path %></li>
              <li><%= link_to "My Tickets", purchases_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Account Settings</a></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

          <!-- create event  -->

          <li class="create-event-button"><%= link_to "Create Event", new_event_path, data: { turbolinks: false }, class: "create-event-text" %></li>

        <% end %>

      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>
