<% if current_user && current_user.create_permission == 'allow' %>


<div class="gray-background">
	<div class="container ">

		<div class="container width-container width-create-events">	



		<div class="bongopass-instruction-modal" data-toggle="modal" data-target="#friends-modal">
			Before you create your event, please read our explanation on how Bongopass works by clicking here.
		</div>



	<div class="modal fade" id="friends-modal">
		<div class="modal-dialog">	
			<div class="modal-content">
				<div class="modal-header text-center modal-header-joined">
					Please review the following very carefully before you create your event.  
				</div>
				
				<div class="modal-body">
					<div class="friends-joined">
						<ul>
							<li class="bongopass-explained-bullet">
								On Bongopass, "tickets" are called Passes. Every attendee is limited to one purchase per Pass.
							</li>
							<li class="bongopass-explained-bullet">
								After an attendee purchases a Pass, they will be given a personal event page to share and earn rewards. They will be rewarded a credit of $10 for every 3 passes purchased from their personal page, up to a maximum of $100 for each event.
							</li>
							<li class="bongopass-explained-bullet">
								A fee of $3.50 is added and passed on to your attendees for every Pass. It will already be included when displayed on your event page. Bonogpass pools this fee of $3.50 from all Passes sold on our platform to reward attendees for word of mouth marketing so more people hear about your event/company from friends that are already going to your event. More importantly, attendees, can use this credit to go to your future events for free, while you still receive your full payout.
							</li>
							<li class="bongopass-explained-bullet">
								You will only be required to pay the payment processing fee of 2.9%+$0.30 per pass. Therefore, if the price of a Pass is $20, you will receive $19.12 (net of the payment processing fee).
							</li>
							<li class="bongopass-explained-bullet">
								Please be as descriptive as possible about your company and event as potential attendees who have no prior knowledge about your event will view this page through the invite feature.
							</li>
							<li class="bongopass-explained-bullet">
								Payouts will be sent via PayPal to the email your BongoPass account was created with, 3-5 days after your event ends.
							</li>
							<li class="bongopass-explained-bullet warning-text">
								If you use a personal event page to market your event, you will be banned from the platform and be forced to pay a fine.
							</li>
						</ul>

						<p class="modal-still-have-questions">
							Still have questions? Email Andrew, your account manager at andrew@bongopass.com. 
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>




















			<%= simple_form_for @event, html: {multipart: true} do |f| %>
			<%= f.error_notification %>


			<h3 class="create-event-header">
				Event Details
			</h3>

				
				<br>
				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group">
							<%= f.input :event_title, placeholder: "Make it short and sweet", class: "form-control", input_html: {class: "input_box"}%>
						</div>
					</div>
				</div>


				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group">
							<%= f.input :location, placeholder: "Be specific", class: "form-control", input_html: {id: "user_input_autocomplete_address", class: "input_box"}%>
						</div>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group">
							<%= f.input :venue, placeholder: "Venue name", class: "form-control", input_html: {class: "input_box"}%>
						</div>
					</div>
				</div>
				
				<!-- Date and Time Selection -->
				<div class="col-md-6 date-override">
				    <p id="basicExample">
				    	<label class="date-selection"> Begins </label> <br>
				        <%= f.date_field :start_date, type: "text", class: "date start input_box form-control start-date", value: f.object.start_date.try(:strftime,"%d/%m/%Y"), placeholder: "Date"%>
				        <%= f.time_field :start_time, type: "text", class: "time start input_box form-control start-date", value: f.object.start_time.try(:strftime,"%l:%M.%p"), placeholder: "Time" %> 
				        <br><br>
				        <label class="date-selection"> Ends </label> 
				        <br>
				        <%= f.date_field :end_date, type: "text", class: "date end input_box form-control start-date", value: f.object.end_date.try(:strftime,"%d/%m/%Y") %>
				        <%= f.time_field :end_time, type: "text", class: "time end input_box form-control start-date", value: f.object.end_time.try(:strftime,"%l:%M.%p") %>
				    </p>
				</div>


				<!-- END.. Date and Time Selection -->

				<div class="row event-description-div">	
					<div class="col-md-10 select">	
						<div class="form-group event-description-title">
							<%= f.input :event_description, as: :summernote  %>
						</div>
					</div>
				</div>


				<!-- Upload Photo -->
				<div class="row">	
					<div class="col-md-4">	
						<div class="form-group">
							<label>COVER PHOTO</label>
							<div class="cover-photo-box">
								<%= file_field_tag "images[]", type: :file, required: true %>
							</div>
						</div>
					</div>
				</div>



				<div id="photos"><%= render 'photos/list' %></div>


			<h3 class="create-event-header">
				Create Passes 
			</h3>


				<div class="row">	
					<div class="col-md-6 select">	
						<div class="form-group ">
							<%= f.input :event_currency, :collection =>
							[["USD","usd"],
							 ["CAD","cad"],
							 ],
							id: "event_currency", prompt: "Select...", class: "form-control", input_html: {class: "currency_box"}, label: "Pass Currency" %>
						</div>
					</div>
				</div>


				<div class="row ticket-section-holder">
				<div class="col-md-7 ticket-section-indent">



					<!-- View Ticket -->
					<%= f.simple_fields_for :tickets do |ticket| %>
						<%= render 'ticket', :f => ticket %>
					<% end -%>
					

					<!-- Add Ticket -->
					<div class="fields">	
						<% f.simple_fields_for :tickets do |builder| %>
							<%= render 'ticket', f: builder %>
						<% end %>
					</div>


					<div class="form-actions">	
						<%= link_to_add_row_t('New Pass', f, :tickets, class: "btn new-ticket-button") %>
					</div>

				</div>
				</div>

<br>	

				<br>
<!-- leave out speaker and sponsor for now  -->
				<% if false %>

				SPEAKER
				<%= f.fields_for :speakers do |speaker| %>
					<%= render 'speaker', :f => speaker %>
					<div id="speakers"><%= render 'speakers/list' %></div>
				<% end -%>

				<!-- Upload Speaker -->
				<div class="fieldss">	
					<% f.fields_for :speakers do |builder| %>
						<%= render 'speaker', f: builder %>
					<% end %>
				</div>

				<div class="form-actions">	
					<%= link_to_add_row_speaker('Add Speaker', f, :speakers, class: "btn btn-primary") %>
				</div>


				SPONSORS
				<%= f.fields_for :sponsors do |sponsor| %>
					<%= render 'sponsor', :f => sponsor %>

				<% end -%>

				<!-- Upload Sponsor -->
				<div class="fieldssponsor">	
					<% f.fields_for :sponsors do |builder| %>
						<%= render 'sponsor', f: builder %>
					<% end %>
				</div>

				<div class="form-actions">	
					<%= link_to_add_row_sponsor('Add Sponsor', f, :sponsors, class: "btn btn-primary") %>
				</div>
				 
				<% end %>


			<h3 class="create-event-header">
				Organizer Information 
			</h3>

	

				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group create-organizer-name">
							<%= f.input :organizer_name, placeholder: "Name of the hosting organization", class: "form-control", input_html: {class: "input_box"} %>
						</div>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group">
							<%= f.input :organizer_description, rows: 5, placeholder: "Tell us more about your organization", class: "form-control", input_html: {class: "input_box"} %>
						</div>
					</div>
				</div>

<% if false %>
				<div class="row">	
					<div class="col-md-7 select">	
						<div class="form-group">
							<%= f.input :event_type, :collection =>
							[["Appearance or Signing","Appearance or Signing"],
							 ["Attraction","Attraction"], 
							 ["Bar or Nightclub","Bar or Nightclub"],
							 ["Class, Training, or Workshop", "Class, Training, or Workshop"],
							 ["Concert or Performance","Concert or Performance"],
							 ["Conference","Conference"],
							 ["Convention","Convention"],
							 ["Dinner or Gala","Dinner or Gala"],
							 ["Festival or Fair","Festival or Fair"],
							 ["Game or Competition","Game or Competition"],
							 ["Meeting or Networking Event","Meeting or Networking Event"],
							 ["Other","Other"],
							 ["Party or Social Gathering","Party or Social Gathering"],
							 ["Race or Endurance Event","Race or Endurance Event"],
							 ["Rally","Rally"],
							 ["Screening","Screening"],
							 ["Seminar or Talk","Seminar or Talk"],
							 ["Tour","Tour"],
							 ["Tournament","Tournament"],
							 ["Tradeshow, Consumer Show or Expo","Tradeshow, Consumer Show or Expo"],
							 ],
							id: "event_type", prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>
<% end %>


			<div class="row">	
				<div class="col-md-7 select">
				<div class="create-button-position">
				<div class="actions">	
					<%= f.submit "Publish Event", class: "btn form-create-button" %>
				</div>
				</div>
				</div>
			</div>

			<% end %>
		</div>
	</div>

</div>

<% else %>

Sorry, you need to be a verified artist, DJ, event organizer, or venue to create an event on Bongopass. Apply to join the BongoPass Community. 


<% end %>



<script>
    // initialize input widgets first
    $('#basicExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#basicExample .date').datepicker({
        'format': 'd/m/yyyy',
        'autoclose': true
    });


    // initialize datepair
    var basicExampleEl = document.getElementById('basicExample');
    var datepair = new Datepair(basicExampleEl);




</script>



    