<% content_for :navbar do %>
<%= render 'shared/navbar-pink'%>
<% end %>

<% if current_user && current_user.create_permission == 'allow' %>

<section class="pt-35 container overflow-override">

	<%= simple_form_for @event, html: {multipart: true} do |f| %>
	<%= f.error_notification %>

	<div class=" info-box"><i class="ti-info-alt info-alt-create yellowbox-create-icon"></i><div class="yellow-text"> All fields are required unless indicated. Please be as detailed as possible since 20-60% of all event views are typically through your attendees' event pages - by viewers who may not have heard about your event or organization.</div></div> 


	<h3 class="create-event-header ">
		<div class="">Event Details</div>
	</h3>
<div class="">
		<div class="row">	
			<div class="col-md-7 select">	
				<div class="form-group">
					<%= f.input :event_title, placeholder: "Make it short and sweet", class: "form-control", input_html: {class: "input_box"}%>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-7 select">	
				<div class="form-group">
					<%= f.input :venue, placeholder: "Name of venue", class: "form-control", input_html: {class: "input_box"}%>
				</div>
			</div>
		</div>


		<div class="row">	
			<div class="col-md-7 select">	
				<div class="form-group">
					<%= f.input :location, placeholder: "Address of Venue", class: "form-control", input_html: {id: "user_input_autocomplete_address", class: "input_box"}%>
				</div>
			</div>
		</div>

		
		<!-- Date and Time Selection -->
		<div class="col-md-12 date-override">
		    <p id="basicExample">
		    	<span class="date-blocks">
			    	<label class="date-selection"> Begins </label> <br>
			        <%= f.date_field :start_date, type: "text", class: "date start input_box form-control start-date", value: f.object.start_date.try(:strftime,"%d/%m/%Y"), placeholder: "Date", :autocomplete => :off%>
			        <%= f.time_field :start_time, type: "text", class: "time start input_box form-control start-date", value: f.object.start_time.try(:strftime,"%l:%M.%p"), placeholder: "Time", :autocomplete => :off %> 
		        </span>
		        <span class="date-blocks second-date-blocks">
			        <label class="date-selection"> Ends </label> 
			        <br>
			        <%= f.date_field :end_date, type: "text", class: "date end input_box form-control start-date", value: f.object.end_date.try(:strftime,"%d/%m/%Y"), :autocomplete => :off %>
			        <%= f.time_field :end_time, type: "text", class: "time end input_box form-control start-date", value: f.object.end_time.try(:strftime,"%l:%M.%p"), :autocomplete => :off %>
		    	</span>
		    </p>
		</div>


		<!-- END.. Date and Time Selection -->

		<div class="row event-description-div">	
			<div class="col-md-10 select">	
				<div class="form-group event-description-title">
					<%= f.input :event_description, as: :summernote  %>
				</div>
			</div>
		</div>


		<!-- Upload Photo -->
		<div class="row">	
			<div class="col-md-4">	
				<div class="form-group">
					<label>COVER PHOTO</label>
					<div class="cover-photo-box">
						<%= file_field_tag "images[]", type: :file, required: true %>
					</div>
				</div>
			</div>
		</div>



		<div id="photos"><%= render 'photos/list' %></div>

		We recommend a picture with a 2:1(width:height) aspect ratio for an optimal view. 

</div>
	<h3 class="create-event-header ">
		<div class="">Create Passes</div>
	</h3>

<div class="">
		<div class="row">	
			<div class="col-md-6 select">	
				<div class="form-group ">
					<%= f.input :event_currency, :collection =>
					[["USD","usd"],
					 ["CAD","cad"],
					 ],
					id: "event_currency", prompt: "Select...", class: "form-control", input_html: {class: "currency_box input_box"}, label: "Pass Currency" %>
				</div>
			</div>
		</div>


		<div class="row ticket-section-holder">
		<div class="col-md-7 ticket-section-indent">



			<!-- View Ticket -->
			<%= f.simple_fields_for :tickets do |ticket| %>
				<%= render 'ticket', :f => ticket %>
			<% end -%>
			

			<!-- Add Ticket -->
			<div class="fields">	
				<% f.simple_fields_for :tickets do |builder| %>
					<%= render 'ticket', f: builder %>
				<% end %>
			</div>


			<div class="form-actions">	
				<%= link_to_add_row_t('New Pass', f, :tickets, class: "btn btn-color-out new-ticket-button", data: { turbolinks: false }) %>
			</div>

		</div>
		</div>



</div>

	<h3 class="create-event-header ">
		<div class="">Host Information</div> 
	</h3>

<div class="">

		<div class="row">	
			<div class="col-md-7 select">	
				<div class="form-group create-organizer-name">
					<%= f.input :organizer_name, label:"Host Name", placeholder: "Name of your organization", class: "form-control", input_html: {class: "input_box"} %>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-7 select">	
				<div class="form-group">
					<%= f.input :organizer_description, label:"Host Description", as: :summernote  %>
				</div>
			</div>
		</div>




	<div class="row">	
		<div class="col-md-7 select">
		<div class="create-button-position">
		<div class="actions">	
			<%= f.submit "Publish Event", class: "btn btn-color form-button-create" %>
		</div>
		</div>
		</div>
	</div>

	<% end %>


<% else %>

Sorry, you need to be a verified host to create an event on Bongopass. Apply to join the Bongopass Community. 


<% end %>

</div>
</section>


<style>
	.modal-backdrop {
		position: relative;
    	z-index: 1;
	}
	.modal-content {
		top: 80px;
	}

</style>



<script>
    // initialize input widgets first
    $('#basicExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#basicExample .date').datepicker({
        'format': 'd/m/yyyy',
        'autoclose': true
    });


    // initialize datepair
    var basicExampleEl = document.getElementById('basicExample');
    var datepair = new Datepair(basicExampleEl);




</script>



    