
<div class="gray-background">
	<div class="container">

		<div class="container">	
			<h1 class="create-event-title">
			Let's Create Your Event
			</h1>

			<%= simple_form_for @event, html: {multipart: true} do |f| %>
			<%= f.error_notification %>

				
				<br>
				<div>
				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :event_title, placeholder: "Make it short and sweet", class: "form-control", input_html: {class: "input_box"}%>
						</div>
					</div>
				</div>


				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :location, placeholder: "Be specific", class: "form-control", input_html: {id: "user_input_autocomplete_address", class: "input_box"}%>
						</div>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :venue, placeholder: "Venue name", class: "form-control", input_html: {class: "input_box"}%>
						</div>
					</div>
				</div>
				
				<!-- Date and Time Selection -->
				    <p id="basicExample">
				    	<label class="date-selection"> Begins </label> <br>
				        <%= f.date_field :start_date, type: "text", class: "date start input_box form-control start-date", value: f.object.start_date.try(:strftime,"%d/%m/%Y"), placeholder: "Date" %>
				        <%= f.time_field :start_time, type: "text", class: "time start input_box form-control end-date", value: f.object.start_time.try(:strftime,"%l:%M.%p"), placeholder: "Time" %> 
				        <br> <br> 
				        <label class="date-selection"> Ends </label> 
				        <br>
				        <%= f.date_field :end_date, type: "text", class: "date end input_box form-control start-date", value: f.object.end_date.try(:strftime,"%d/%m/%Y") %>
				        <%= f.time_field :end_time, type: "text", class: "time end input_box form-control start-date", value: f.object.end_time.try(:strftime,"%l:%M.%p") %>
				    </p>


				<!-- END.. Date and Time Selection -->

				<div class="row">	
					<div class="col-md-8 select">	
						<div class="form-group event-description-title">
							<%= f.input :event_description, as: :summernote  %>
						</div>
					</div>
				</div>
				</div>

				<!-- Upload Photo -->
				<div class="row">	
					<div class="col-md-4">	
						<div class="form-group">
								<%= file_field_tag "images[]", type: :file %>
						</div>
					</div>
				</div>



				<div id="photos"><%= render 'photos/list' %></div>


				<!-- View Ticket -->
				<%= f.simple_fields_for :tickets do |ticket| %>
					<%= render 'ticket', :f => ticket %>
				<% end -%>
				

				<!-- Add Ticket -->
				<div class="fields">	
					<% f.simple_fields_for :tickets do |builder| %>
						<%= render 'ticket', f: builder %>
					<% end %>
				</div>


				<div class="form-actions">	
					<%= link_to_add_row_t('Add Ticket', f, :tickets, class: "btn btn-primary") %>
				</div>


<br>	

				<br>
<!-- leave out speaker and sponsor for now  -->
				<% if false %>

				SPEAKER
				<%= f.fields_for :speakers do |speaker| %>
					<%= render 'speaker', :f => speaker %>
					<div id="speakers"><%= render 'speakers/list' %></div>
				<% end -%>

				<!-- Upload Speaker -->
				<div class="fieldss">	
					<% f.fields_for :speakers do |builder| %>
						<%= render 'speaker', f: builder %>
					<% end %>
				</div>

				<div class="form-actions">	
					<%= link_to_add_row_speaker('Add Speaker', f, :speakers, class: "btn btn-primary") %>
				</div>


				SPONSORS
				<%= f.fields_for :sponsors do |sponsor| %>
					<%= render 'sponsor', :f => sponsor %>

				<% end -%>

				<!-- Upload Sponsor -->
				<div class="fieldssponsor">	
					<% f.fields_for :sponsors do |builder| %>
						<%= render 'sponsor', f: builder %>
					<% end %>
				</div>

				<div class="form-actions">	
					<%= link_to_add_row_sponsor('Add Sponsor', f, :sponsors, class: "btn btn-primary") %>
				</div>
				 
				<% end %>

	

				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :organizer_name, placeholder: "Name of the hosting organization", class: "form-control", input_html: {class: "input_box"} %>
						</div>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :organizer_description, rows: 3, placeholder: "Tell us more about your organization", class: "form-control", input_html: {class: "input_box"} %>
						</div>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-4 select">	
						<div class="form-group">
							<%= f.input :event_type, :collection =>
							[["Appearance or Signing","Appearance or Signing"],
							 ["Attraction","Attraction"], 
							 ["Bar or Nightclub","Bar or Nightclub"],
							 ["Class, Training, or Workshop", "Class, Training, or Workshop"],
							 ["Concert or Performance","Concert or Performance"],
							 ["Conference","Conference"],
							 ["Convention","Convention"],
							 ["Dinner or Gala","Dinner or Gala"],
							 ["Festival or Fair","Festival or Fair"],
							 ["Game or Competition","Game or Competition"],
							 ["Meeting or Networking Event","Meeting or Networking Event"],
							 ["Other","Other"],
							 ["Party or Social Gathering","Party or Social Gathering"],
							 ["Race or Endurance Event","Race or Endurance Event"],
							 ["Rally","Rally"],
							 ["Screening","Screening"],
							 ["Seminar or Talk","Seminar or Talk"],
							 ["Tour","Tour"],
							 ["Tournament","Tournament"],
							 ["Tradeshow, Consumer Show or Expo","Tradeshow, Consumer Show or Expo"],
							 ],
							id: "event_type", prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>




				<div class="actions">	
					<%= f.submit "Save", class: "btn btn-primary" %>
				</div>

			<% end %>
		</div>
	</div>

</div>



<script>
    // initialize input widgets first
    $('#basicExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#basicExample .date').datepicker({
        'format': 'd/m/yyyy',
        'autoclose': true
    });


    // initialize datepair
    var basicExampleEl = document.getElementById('basicExample');
    var datepair = new Datepair(basicExampleEl);




</script>



    