<section class= "create-ticket-wrapper">
<div >

		<div>	
			<div class="select">	
				<div class="form-group">
					<%= f.input :ticket_name, placeholder: "General Admission", class: "form-control", label: "Pass Name" %>
				</div>
			</div>


			<div class="cover-quantity-price-box">
				<div class="quantity-price-box">	
						<%= f.input :ticket_quantity, placeholder: "300", class: "form-control", label: "Quantity" %>
				</div>

				<div class="quantity-price-box">	
						<%= f.input :ticket_price, :step => "0.01", placeholder: "$20.00", class: "form-control", label: "Price" %>
				</div>
			</div>
		</div>

		<div>	
			<div >	
				<div class="form-group">
					<%= f.input :ticket_description, placeholder: "Not required", class: "form-control", label: "Pass Description"%>
				</div>
			</div>

			<div class="remove-ticket-button">	
				<%= f.hidden_field :_destroy %>
				<%= link_to "Remove", '#', class: 'remove_record btn btn-default' %>
			</div>
		</div>

</div>
</section>
