
<%= render 'shared/navbar-pink'%>

<section class="pt-0">


<div class="container center width-container">
<div class="row">

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray">
		<div class="boxed-text">
			<div class="box-data">
				<%= @events.count %>
			</div>
			<div class="box-description">
			TOTAL EVENTS
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray">
		<div class="boxed-text">
			<div class="box-data">
				<%= @bongopass_purchases %>
			</div>
			<div class="box-description">
			ATTENDEE GENERATED SALES
			</div>
<!-- After an attendee purchases a ticket they have access to a personalized bongopass page to share with friends. This is the total count of purchases from all of your attendees' bongopass pages -->
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray boxed-offset">
		<div class="boxed-text">
			<div class="box-data">
				$<%= @all_rewards_earned %>
			</div>
			<div class="box-description">
			CREDITED TO YOUR ATTENDEES
			</div>
<!-- The total amount Bongopass has credited your attendees. Attendees will be able to use their credits for all future events on Bongopass, including yours! This credit is paid out from Bongopass fees collected from all events on our platform and does not include any of your ticket sales. -->
		</div>
	</div>	
</div>

<br>
<br>

<div class="container mobile-container-adjust-eindex">	
<div class="index-event-container">
	<div class=" panel-default">
	<h3 class="index-event-header ">
		<div class="">My Events</div>
	</h3>
		<div class="panel-body">
			
			<% @events.order(:start_date).reverse.each do |event| %>
				<div class="row event-row">

					<div class="col-xs-2 p-0 col-md-1 div-button-drop-wrap">
						<div class="">
						  <div class="dropdown">
						    <button class="btn btn-primary dropdown-toggle gear-dropdown-wrapper" type="button" data-toggle="dropdown">
						    	<i class="ti-settings dropdown-gear"></i>
						   	</button>
						    <ul class="dropdown-menu">
						      <li><%= link_to "Update", edit_event_path(event), class: "dmenu-options", data: {turbolinks: false}%></li>
						      <li><%= link_to "View", event_path(event), class: "dmenu-options", data: {turbolinks: false}%></li>
						      <li><%= link_to "Sales", sold_event_path(event), class: "dmenu-options", data: {turbolinks: false}%></li>
						    </ul>
						  </div>
						</div>
					</div>

					<div class="col-xs-10 pr-0 col-md-11 event-row-large">
						<div class="col-md-8 index-event-title pr-0">
							<h4 class="index-event-title"> <%= event.event_title %></h4>
							<h4> <%= event.start_date.to_time.strftime('%A, %B %d') %></h4>
						</div>


						<div class="col-md-4 pr-0">
							<h4> <%= Order.joins(:ticket).where(tickets: { event_id: event.id }).count %>/<%= Order.joins(:ticket).where(tickets: { event_id: event.id }).count + event.tickets.where(event_id: event.id).sum(:ticket_quantity) %> Sold - <%= number_to_currency(Order.joins(:ticket).where(tickets: { event_id: event.id }).sum(:organizer_sales)) %> 
							</h4>
							<div class="event-progress">
							  <div class="event-progress-bar" role="progressbar" style="width: <%= number_to_percentage(Order.joins(:ticket).where(tickets: { event_id: event.id }).count.to_f / (Order.joins(:ticket).where(tickets: { event_id: event.id }).count + event.tickets.where(event_id: event.id).sum(:ticket_quantity))*100) %>"  aria-valuemin="0" aria-valuemax="100"></div>
							</div>							

						</div>

					</div>






				</div>
			<% end %>
		</div>
	</div>

</div>
</div>
</div>



</section>

<style type="text/css">


</style>
