<div class="row">

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				<%= @events.count %>
			</div>
			<div class="box-description">
			TOTAL EVENTS
			</div>
		</div>
	</div>

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				<%= @bongopass_purchases %>
			</div>
			<div class="box-description">
			SALES GENERATED FROM AN ATTENDEES BONGOPASS PAGE
			</div>
<!-- After an attendee purchases a ticket they have access to a personalized bongopass page to share with friends. This is the total count of purchases from all of your attendees' bongopass pages -->
		</div>
	</div>

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				$<%= @all_rewards_earned %>
			</div>
			<div class="box-description">
			CREDITED TO MY ATTENDEES BY BONGOPASS
			</div>
<!-- The total amount Bongopass has credited your attendees. Attendees will be able to use their credits for all future events on Bongopass, including yours! This credit is paid out from Bongopass fees collected from all events on our platform and does not include any of your ticket sales. -->
		</div>
	</div>	

	
	


</div>

<br>
<br>

<div class="container">	

	<div class=" panel-default">
		<div class="panel-heading">
			MY EVENTS	
		</div>
		<div class="panel-body">
			
			<% @events.order(:start_date).reverse.each do |event| %>
				<div class="row">
					<div class="col-md-2">
						<%= image_tag event.photos[0].image.url(:thumb) if event.photos.length > 0  %>
					</div>

					<div class="col-md-2">
						<h4> <%= event.event_title %></h4>
					</div>

					<div class="col-md-2">
						<h4> <%= event.start_date.to_time.strftime('%a, %B %d') %></h4>
					</div>

					<div class="col-md-2 ">
						<%= link_to "Update", edit_event_path(event), class: "btn btn-primary", data: {turbolinks: false}%>
					</div>

					<div class="col-md-2 ">
						<%= link_to "View", event_path(event), class: "btn btn-primary"%>
					</div>
					
					<div class="col-md-2 ">
						<%= link_to "Tickets Sold", sold_event_path(event), class: "btn btn-primary"%>
					</div>
				</div>
			<% end %>
		</div>
	</div>


</div>