<section>

<div class="set-background">
	<div class="page-hug">
<div class="container center width-container">
<div class="row">

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray">
		<div class="boxed-text">
			<div class="box-data">
				<%= @events.count %>
			</div>
			<div class="box-description">
			TOTAL EVENTS
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray">
		<div class="boxed-text">
			<div class="box-data">
				<%= @bongopass_purchases %>
			</div>
			<div class="box-description">
			SALES GENERATED THROUGH YOUR ATTENDEES
			</div>
<!-- After an attendee purchases a ticket they have access to a personalized bongopass page to share with friends. This is the total count of purchases from all of your attendees' bongopass pages -->
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12 boxed-gray boxed-offset">
		<div class="boxed-text">
			<div class="box-data">
				$<%= @all_rewards_earned %>
			</div>
			<div class="box-description">
			CREDITED TO YOUR ATTENDEES BY BONGOPASS
			</div>
<!-- The total amount Bongopass has credited your attendees. Attendees will be able to use their credits for all future events on Bongopass, including yours! This credit is paid out from Bongopass fees collected from all events on our platform and does not include any of your ticket sales. -->
		</div>
	</div>	
</div>

<br>
<br>

<div class="container">	
<div class="index-event-container">
	<div class=" panel-default">
		<div class="panel-heading panel-my-events">
			My Events	
		</div>
		<div class="panel-body">
			
			<% @events.order(:start_date).reverse.each do |event| %>
				<div class="row event-row">

					<div class="col-md-4 index-event-title">
						<h4> <%= event.event_title %></h4>
					</div>

					<div class="col-md-3">
						<h4> <%= event.start_date.to_time.strftime('%A, %B %d') %></h4>
					</div>

					<div class="col-md-1">
						<h4> <%= Order.joins(:ticket).where(tickets: { event_id: event.id }).count %>/<%= Order.joins(:ticket).where(tickets: { event_id: event.id }).count + event.tickets.where(event_id: event.id).sum(:ticket_quantity) %></h4>
					</div>

					<div class="col-md-1">
						<h4> <%= number_to_currency(Order.joins(:ticket).where(tickets: { event_id: event.id }).sum(:organizer_sales)) %> </h4>
					</div>

					<div class="col-md-1 col-xs-4 ">
						<%= link_to "Update", edit_event_path(event), class: "btn btn-default index-buttons", data: {turbolinks: false}%>
					</div>

					<div class="col-md-1 col-xs-4 ">
						<%= link_to "View", event_path(event), class: "btn btn-default index-buttons", data: {turbolinks: false}%>
					</div>
					
					<div class="col-md-1 col-xs-4 ">
						<%= link_to "Sales", sold_event_path(event), class: "btn btn-default index-buttons", data: {turbolinks: false}%>
					</div>



				</div>
			<% end %>
		</div>
	</div>

</div>
</div>
</div>
</div>
</div>

</section>

<style type="text/css">
	.boxed-gray {
	background-color: #353535;
    border-right: 1px solid white;

    height: 150px;
    text-align: center;
}

	.width-container {
		width: 100%; 
	}

	.boxed {
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 150px;
    background-color: #13B57D;
    text-align: center;
}

.boxed-gray {
	background-color: #353535;
    border-right: 1px solid white;

    height: 150px;
    text-align: center;
}

.boxed-offset {
	border-right: none !important;
}


.boxed-text {
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: white;
  }

.box-data {
	font-family: 'Lato', sans-serif ;
	font-size: 3.5em;
	font-weight: 800;
}

.box-description {
	font-size: 11px;
	font-family: 'Lato', sans-serif ;
	font-weight: bold;
}

.set-background {
	    margin-top: -90px;
}

.index-buttons {
	width: 80px;
	background-color: rgba(202, 202, 202, 0.4) !important;
	padding: 0px;
}

.event-row {
	margin-bottom: 30px;
}


</style>
