
<div class="row">

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				10
			</div>
			<div class="box-description">
			TOTAL EVENTS
			</div>
		</div>
	</div>

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				40
			</div>
			<div class="box-description">
			ATTENDEES REWARDED
			</div>
		</div>
	</div>

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				$200
			</div>
			<div class="box-description">
			CREDITED TO MY ATTENDEES
			</div>

		</div>
	</div>	

	<div class="col-md-3 boxed">
		<div class="boxed-text">
			<div class="box-data">
				$1000
			</div>
			<div class="box-description">
			CREDITS USED TO BUY MY TICKETS
			</div>
		</div>
	</div>		
	


</div>

<br>
<br>

<div class="container">	

	<div class=" panel-default">
		<div class="panel-heading">
			MY EVENTS	
		</div>
		<div class="panel-body">
			
			<% @events.order(:start_date).reverse.each do |event| %>
				<div class="row">
					<div class="col-md-2">
						<%= image_tag event.photos[0].image.url(:thumb) if event.photos.length > 0  %>
					</div>

					<div class="col-md-2">
						<h4> <%= event.event_title %></h4>
					</div>

					<div class="col-md-2">
						<h4> <%= event.start_date.to_time.strftime('%a, %B %d') %></h4>
					</div>

					<div class="col-md-2 ">
						<%= link_to "Update", edit_event_path(event), class: "btn btn-primary", data: {turbolinks: false}%>
					</div>

					<div class="col-md-2 ">
						<%= link_to "View", event_path(event), class: "btn btn-primary"%>
					</div>
					
					<div class="col-md-2 ">
						<%= link_to "Tickets Sold", sales_path(event), class: "btn btn-primary"%>
					</div>
				</div>
			<% end %>
		</div>
	</div>


</div>