<!-- Facebook Share Features-->

<meta property="fb:app_id"             content="1870680056482347" /> 
<meta property="og:url"                content="<%= event_url(@event) %>" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= @event.event_title %>" />
<meta property="og:description"        content="<%= @event.organizer_name %>" />
<meta property="og:image"              content='<%=@photos[0].image.url(:original)%>' />		


<div id="shareBtn" class="btn btn-success clearfix">Share</div>
<a id="messengerBtn" class="btn btn-success" >Send in Messenger</a>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1870680056482347',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    mobile_iframe: true,
    href: "<%= event_url(@event) %>",
  }, function(response){});
}
document.getElementById('messengerBtn').onclick = function() {
	FB.ui({
	  method: 'send',
	  link: '<%= event_url(@event) %>',
	  href: "http://www.facebook.com/dialog/send?app_id=1870680056482347",
	});
}
</script>

<!-- Twitter Share Features-->

<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Check out <%= @event.event_title %>"
  data-url="<%= event_url(@event) %>"
  data-related="twitterapi,twitter"
  data-image="https://d1vc1zztydspts.cloudfront.net/attachments/57f8368ad546f79c078326455e97f4d761e7e5a0/store/61a538d65a951acd00f8e2011c143ffd7c68ff33c94117803c47f5561eba/8-2.jpg">
Tweet
</a>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>







<div >
	<div>	

		<!-- Image -->

			<div>
			<%= image_tag @photos[0].image.url(:medium), class: "img-responsive cover-photo"%>
			</div>



		<br>

		<!-- Main Info -->

			<div class="col-md-8">
				<div class="row">
					
				</div>
				
			</div>

			<div class="col-md-8">
				<h4> <%= @event.event_title %> </h4>
				<%= @event.start_date %>
			</div>

			<div class="col-md-8">
				<%= @event.start_time %>
			</div>
			
			<div class="col-md-8">
				<%= @event.location %>
			</div>


			<!-- Ticket -->

			<div>
				<button class="btn btn-success" type="button" data-toggle="modal" data-target="#ticket-modal">
					Tickets	
				</button>

				<div class="modal fade" id="ticket-modal">	
					<div class="modal-dialog">	
						<div class="modal-content">
							<div class="modal-header text-center">
								Select your ticket - One ticket maximum 
							</div>
							

							<div class="modal-body">
								<% @tickets.each do |ticket| %>
									<div class="row">
										<div class="col-md-7">
											<h4> <%= ticket.ticket_name %></h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-7">
											<h4> <%= number_to_currency(ticket.ticket_price) %></h4>
										</div>


									<div class="col-md-3 right"> 
										<%= if ticket.ticket_quantity > 0 
												link_to "Purchase", new_ticket_order_path(ticket), class: "btn btn-primary", data: { turbolinks: false }
											else 
												link_to "Sold Out", event_path(@event), class: "btn btn-danger" end %>
									</div>
									</div>
									<hr>
								<% end %>							
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Event Description -->

			<div class="col-md-8">
				<%= @event.event_description.html_safe %>
			</div>

			<div class="col-md-8">
				<%= @event.organizer_name %>
			</div>

			<div class="col-md-8">
				<%= @event.organizer_description %>
			</div>




			<div class="row">
				<div class="col-md-12">

			    <style>
			  		#map {
			        height: 400px;
			        width: 100%;
			       }
			       
			    </style>

			    <div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 14,
			          center: uluru
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZuSB97-CMBj8v9Q7cLaltM60f-z0MOg&callback=initMap">
			    </script>


				</div>
			</div>







	</div>
</div>