

<div class="gray-background" >
	<div class="cover-photo-container">	
		<!-- Image -->
		<div>
		<%= image_tag @photos[0].image.url(:medium), class: "img-responsive cover-photo"%>
		</div>
	</div>



		<br>

		<!-- Main Info -->
		<div class="main-info">


			<h4 class="event-title"> <%= @event.event_title %> </h4>
			
		<!-- onatby stuff -->
			<div class="onatby-first-container">	
			<div class="onatby-second-container">
			<!-- Start Date -->
			<div class="onatby-section" >
				<div class="onatby-block">
					<div class="onatby-color-box-on">on</div>
				</div>
				<div class="onatby-block-content">
					<%if @event.start_date == @event.end_date %>
						<p> <%= @event.start_date.strftime('%A, %B %e') %> <br>
							<%= @event.start_time.strftime('%l:%M%p') %> - <%= @event.end_time.strftime('%l:%M%p') %>
						</p>
					<% else %>
						<p> <%= @event.start_date.strftime('%B %e') %> - <%= @event.end_date.strftime('%B %e') %> <br>
							<%= @event.start_time.strftime('%l:%M%p') %> 
						</p>
					<% end %>
				</div>
			</div>

			
			<!-- Venue -->
			<div class="onatby-section">
				<div class="onatby-block">
					<div class="onatby-color-box-at">at</div>
				</div>

				<div class="onatby-block-content">
					<%if @event.venue %>
							<p class="test"> <%= @event.venue %> <br> <%= @event.location %> </p>
					<% else %>
							<p> <%= @event.location %> </p>
					<% end %>
				</div>
			</div>

			<!-- Organizer -->
			<%if @event.organizer_name %>
			<div class="onatby-section">
				<div class="onatby-block">
					<div class="onatby-color-box-by">by</div>
				</div>
				<div class="onatby-block-content">
					<p> <%= @event.organizer_name %> </p>
				</div>
			</div>
			<% end %>
			</div>
			</div>


			<!-- Ticket -->

			<div>
				<div class="ticket-button-holder">
				<button class="btn btn-tickets-show-page" type="button" data-toggle="modal" data-target="#ticket-modal">
					Tickets	
				</button>
				</div>

				<div class="modal fade" id="ticket-modal">	
					<div class="modal-dialog">	
						<div class="modal-content">
							<div class="modal-header text-center">
								One Ticket Maximum 
							</div>
							

							<div class="modal-body">
								<div class="ticket-info-section">
								<% @tickets.order(:ticket_price).each do |ticket| %>
									<div class="ticket-box clearfix">
									<div class="ticket-name-price-desc">							
										<p> <%= ticket.ticket_name %> </p>
										<p> <%= number_to_currency(ticket.ticket_price) %> </p>
										<p> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
									</div>
									<div> 
										<%= if ticket.ticket_quantity > 0 
												link_to "Select", new_ticket_order_path(ticket), class: "btn btn-tickets-modal-page", data: { turbolinks: false }
											else 
												link_to "Sold Out", event_path(@event), class: "btn btn-tickets-modal-page-sold-out" end %>
									</div>
									</div>
									<hr>
								<% end %>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<!-- Event Description -->

			<div class="event-description">
				<div class="description-title">DESCRIPTION</div>
				<%= @event.event_description.html_safe %>
			</div>


			<!-- Share Buttons -->
			<div class="holder-social-media-share-buttons">
				<div id="shareBtn" class="btn btn-default social-media-share-buttons-fb">Share on Facebook</div>
				<a id="messengerBtn" class="btn btn-default social-media-share-buttons-messenger">Send to Messenger</a>

				<a class="btn btn-default social-media-share-buttons-twitter"
				  href="https://twitter.com/share"
				  data-size="large"
				  data-text="Check out <%= @event.event_title %>"
				  data-url="<%= event_url(@event) %>"
				  data-related="twitterapi,twitter"
				  data-image="<%=@photos[0].image.url(:original)%>">
				Share on Twitter
				</a>
			</div>


			<% if @event.organizer_description %>

			<div class="event-organizer-block">
				<div class="show-organizer-title">
					Organizer
				</div>
				<div class="show-organizer-name">
					<%= @event.organizer_name %>
				</div>

				<div class="show-organizer-title">
					About Organizer 
				</div>
				<div class="show-organizer-description">
					<%= @event.organizer_description %>
				</div>
			</div>

			<% else %>
			<div class="event-organizer-block">
				<div class="show-organizer-title">
					Organizer
				</div>
				<div class="show-organizer-name">
					<%= @event.organizer_name %>
				</div>
			</div>
			<% end %>

			</div>


			<div>
				<div>

			    <style>
			  		#map {
			        height: 350px;
			        width: 100%;
			       }
			       
			    </style>

			    <div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 14,
			          center: uluru
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZuSB97-CMBj8v9Q7cLaltM60f-z0MOg&callback=initMap">
			    </script>


				</div>
			</div>
		

</div>





<!-- Facebook Share Features-->

<meta property="fb:app_id"             content="1870680056482347" /> 
<meta property="og:url"                content="<%= event_url(@event) %>" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= @event.event_title %>" />
<meta property="og:description"        content="<%= @event.organizer_name %>" />
<meta property="og:image"              content='<%=@photos[0].image.url(:original)%>' />		




<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1870680056482347',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>


<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    mobile_iframe: true,
    href: "<%= event_url(@event) %>",
  }, function(response){});
}
document.getElementById('messengerBtn').onclick = function() {
	FB.ui({
	  method: 'send',
	  link: '<%= event_url(@event) %>',
	  href: "http://www.facebook.com/dialog/send?app_id=1870680056482347",
	});
}</script>

<!-- Twitter Share Features-->



<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>




