<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">


<div class="font-set-show-page order-container"> 
<div class="container big-container order-page-row">
<div class="row order-page-row"> 
  <div class="col-xs-12 col-sm-5 col-md-5 order-de">

    <h3 class="o-event-title"><%= @ticket.event.event_title %></h3>
    <div class="pass-information">
      <div class="o-ticket-name">
        <h4>Pass Name: <%= @ticket.ticket_name %></h4>    
      </div>

      <div class="price-credit-wrapper">
        <div class="price-credit-title">
          <h5 class="price-title">Price</h5>
          <h5 class="credit-title">Credits Applied</h5>
        </div>

        <div class="price-credit-data">
          <h5><%= number_to_currency(@ticket.ticket_price + @bongopass_fee) %></h5>
          <h5><span class="minus-sign">-</span><%= number_to_currency(@order.rewards_used) %> </h5> 
        </div>
      </div>

      <div class="total-wrapper">
        <div class="total-title">
           <h5 class="total-title-text">Total</h5>
        </div>
        <div class="total-data">
          <h5 class="total-data-text"><%= number_to_currency(@payment_amount) %> </h5>
        </div>
      </div>

<% if @payment_amount == 3.50 %>
      <div class="minimum-amount">
        There is a minimum limit of $3.50 for this event
      </div>
<% end %>

      <div class="delivery-method">
        Delivery Method 
      </div>

      <div class="will-call">
        Will Call: Please arrive at the venue with your photo ID and confirmation email. 
      </div>

      <div class="refund-policy">
        Refund Policy 
      </div>

      <div class="will-call">
        No refunds.
      </div>

      <div class="refund-policy">
        Purchase Limit
      </div>

      <div class="will-call">
        One Pass per attendee.
      </div>

    </div>
  </div>