    <section class="pt-35">
      <div class="container">
          <div class="checkout-form">
            <div class="row">

              <div class="col-md-5 mb-30"> <!-- left side -->

                <div class="text-center">
                  <h3><%= @ticket.event.event_title %></h3>
                  <h4>Pass Name: <%= @ticket.ticket_name %></h4>
                </div>
                <div class="wrapting">
                <div class="price-credit-wrapper">
                  <div class="price-credit-title">
                    <h5 class="price-title">Price</h5>
                    <h5 class="credit-title">Fee</h5>
                    <h5 class="credit-title">Credit Applied</h5>
                  </div>

                  <div class="price-credit-data">
                    <h5><%= number_to_currency(@ticket.ticket_price + @ticket.event.reward_fee) %></h5>
                    <h5><%= number_to_currency(@bongo_fee) %></h5>
                    <h5><span class="minus-sign">-</span><%= number_to_currency(@order.rewards_used) %> </h5> 
                  </div>
                </div>

                <div class="total-wrapper">
                  <div class="total-title">
                     <h5 class="total-title-text">Total</h5>
                  </div>
                  <div class="total-data">
                    <h5 class="total-data-text"><%= number_to_currency(@payment_amount) %> </h5>
                  </div>
                </div>

                <% if (@payment_amount - @bongo_fee) == @ticket.event.reward_fee %>
                  <div class="minimum-amount">
                    There is a minimum price limit of <%= number_to_currency(@ticket.event.reward_fee) %> for this event.
                  </div>
                <% end %>
                </div>

                <h6 class="fw-600 fine-print">
                  Delivery Method 
                </h6>

                <h6 class="fw-300">
                  Will Call: Please arrive at the venue with your photo ID and confirmation email. 
                </h6>

                <h6 class="fw-600 fine-print">
                  Refund Policy 
                </h6>

                <h6 class="fw-300">
                  No refunds.
                </h6>

                <h6 class="fw-600 fine-print">
                  Purchase Limit
                </h6>

                <h6 class="fw-300">
                  One Pass per attendee.
                </h6>

              </div>



              <div class="col-md-5 col-md-offset-1"> <!-- right side -->
              <%= form_for([@ticket, @order]) do |form| %>
                <% if order.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

                    <ul>
                    <% order.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div id="stripe_error" class="alert alert-danger" style="display:none">
                  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                </div>

                <div class="title">
                  <h5 class="upper fw-600">Full Name of Attendee</h5>
                  <hr>
                </div>
                <div class="form-group">
                  <%= form.text_field :first_name, id: :first_name, placeholder: "First Name", class: "form-control order-form-inputs", required: true %>
                </div>
                <div class="form-group">
                  <%= form.text_field :last_name, id: :last_name, placeholder: "Last Name", class: "form-control order-form-inputs", required: true %>
                </div>
                <div class="title">
                  <h5 class="upper fw-600">Credit Card Info</h5>
                  <hr>
                </div>

                <div class="form-group">
                  <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control order-form-inputs", placeholder: "Credit Card Number" } %>
                </div>
                <div class="form-group">
                  <div class="col-xs-4 pl-0">
                    <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control order-form-inputs", required: true, placeholder: "CVC" } %>
                  </div>
                  <div class="col-xs-4 pl-0">
                    <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control order-form-inputs", placeholder: "Month" } %>
                  </div>
                  <div class="col-xs-4 p-0">
                    <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control order-form-inputs", placeholder:"Year" } %>
                  </div>
                </div>
                <div class="form-group">
                  <%= text_field_tag :postal_code, nil, { :name => nil, :'data-stripe' => "address-zip", class: "form-control order-form-inputs", required: true, placeholder: "Zip Code" } %>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <h5 class="upper">Order Total</h5>
                    </div>
                    <div class="col-xs-6 text-right">
                      <h5><%= number_to_currency(@payment_amount) %></h5>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkout-submit">
                    <%= form.submit "Complete Order", class: "btn btn-color btn-block order-form-inputs" %>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
            <!-- end of row-->
          </div>
      </div>
    </section>






