
<div class="container credit-box">

	<div>
		Your Bongo Credits 
	</div>


	<div>
		Your Current Balance: <%= @net_rewards_available %>
	</div>







</div>


<div class="container">
	<table>
	  <thead>
	    <tr>
		  <th>Bongo Page</th>
	      <th>Event</th>
	      <th>Date</th>
	      <th>Referrals</th>

	    </tr>
	  </thead>
	  <tbody>

	    <% @orders.each do |order| %>
	     <tr>
	      <td><%= link_to "Share", referral_path(Referral.find(order.referral.id)) %></td>
	      <td><%= order.ticket.event.event_title %></td>
	      <td><%= order.ticket.event.start_date %></td>
	      <td><%= Order.where(referral_id: order.referral.id).count %></td>

	    <% end %>


	  </tbody>
	</table>
</div>

	<%= Order.where(referral_id: @referral_id).group(:referral_id).count %>
	<%= @referral_count %>
	<%= @net_rewards_available %>

