
    <section class="page-title parallax purchases-parallax mb-50">
      <div data-parallax="scroll" class="parallax-bg"></div>
      <div class="parallax-overlay purchases-overlay-actual">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper upper-rewards"><%= number_to_currency(@net_rewards_available) %></h1>
                <h4>BONGOPASS CREDITS AVAILABLE</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>

<div class="">	
<div class="">





<div class=" panel-default col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bp-passes-purchased ">


	<h3 class="create-event-header my-passes-title">
		<div class="">MY PASSES</div>
	</h3>

		<% if @orders.count < 1 %>
		<div class="panel-body no-passes">
			You have not purchased any passes yet.
		</div>


		<% end %>

		<div class="panel-body">
			
			<% @orders.each do |order| %>
				<div class="row purchases-passes">

					<div class="col-md-8 col-sm-12 passes-details">
						<h3 class="purchases-event-title"> <%= order.ticket.event.event_title %> </p>
						<h4 class="purchases-date"> <%= order.ticket.ticket_name %> </h4>
						<h4 class="purchases-date"> <%= order.ticket.event.venue %> </h4>
						<h4 class="purchases-date"> <%= order.ticket.event.start_date.to_time.strftime('%A, %b %d') %> at <%= order.ticket.event.start_time.strftime('%l:%M%p') %> </h4>
					</div>

					<div class="col-md-4 col-sm-12 share-button-wrapper">
						<div>

						<%= link_to "Invite Friends", mypass_referral_path(Referral.find(order.referral.id)), class:"btn btn-color btn-block purchases-buttons", data: { turbolinks: false } %>
						</div>

						<div>
						<%= link_to "View Event", event_path(order.ticket.event.id), class:"btn btn-dark-out btn-block purchases-buttons", data: { turbolinks: false } %>
						</div>
						
					</div>


				</div>
				<hr>
			<% end %>
		</div>
</div>









</div>
</div>







