
<div class="container credit-box">

	<div>
		Your Bongo Credits 
	</div>


	<div>
		Your Current Balance: <%= @net_rewards_available %>
	</div>







</div>


<div class="container">	
<div class="index-event-container">


<div class=" panel-default col-md-7">
		<div class="panel-heading purchases-panel">
			MY PASSES	
		</div>

		<div class="panel-body">
			
			<% @orders.each do |order| %>
				<div class="row purchases-passes">

					<div class="col-md-3 share-button-wrapper">
						<div> <%= link_to "Share", referral_path(Referral.find(order.referral.id)), class:"purchases-share-button" %>
						</div>
					</div>

					<div class="col-md-9">
						<p class="purchases-event-title"> <%= order.ticket.event.event_title %> </p>
						<p class="purchases-date"> <%= order.ticket.event.start_date.to_time.strftime('%A, %b %d') %> at <%= order.ticket.event.start_time.strftime('%l:%M%p') %> </p>
					</div>

					<div class="col-md-4">

					</div>

				



				</div>
			<% end %>
		</div>
</div>


</div>
</div>







