


<div class="container">	
<div class="index-event-container">





<div class="col-xs-12 col-sm-4 col-md-4 bp-credits-available">

			<div class="boxed boxed-add boxed-for-purchases">
			<div class="boxed-text boxed-text-add">
				<div class="box-data box-data-add">
					<%= number_to_currency(@net_rewards_available) %>
				</div>
				<div class="box-description box-description-add">
					BONGOPASS CREDITS AVAILABLE
				</div>

 			</div>
 			</div>
	
</div>



<div class=" panel-default col-xs-12 col-sm-8 col-md-8 bp-passes-purchased ">

		<div class="panel-heading purchases-panel">
			My Passes	
		</div>

		<% if @orders.count < 1 %>
		<div class="panel-body no-passes">
			You haven't purchased any passes yet.
		</div>


		<% end %>

		<div class="panel-body">
			
			<% @orders.each do |order| %>
				<div class="row purchases-passes">

					<div class="col-md-9 col-sm-12 passes-details">
						<p class="purchases-event-title"> <%= order.ticket.event.event_title %> </p>
						<p class="purchases-event-title"> <%= order.ticket.ticket_name %> </p>
						<p class="purchases-date"> <%= order.ticket.event.venue %> </p>
						<p class="purchases-date"> <%= order.ticket.event.start_date.to_time.strftime('%A, %b %d') %> at <%= order.ticket.event.start_time.strftime('%l:%M%p') %> </p>
					</div>

					<div class="col-md-3 col-sm-12 share-button-wrapper">
						<%= link_to "Invite Friends", mypass_referral_path(Referral.find(order.referral.id)), class:"purchases-share-button" %>
						

						<%= link_to "View Event", event_path(order.ticket.event.id), class:"purchases-share-button view-event-button" %>
						
					</div>


				</div>
			<% end %>
		</div>
</div>









</div>
</div>







