    <section class="page-title parallax parallax-mypass mb-50">
      <div data-parallax="scroll" class="parallax-bg"></div>
      <div class="parallax-overlay purchases-overlay mypass-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
			<div class="section-mypass section-mypass-top">
			<div class="welcome">
				Welcome to your event dashboard <%= @referral.order.first_name %>!
			</div>
			<p class="you-are-going-top">
				Now you can receive credit for helping friends discover this event. Know any friends that would be interested in this event or are already planning to join you? Just send them an invitation by sharing your unique event link below.
			</p>
			</div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>

<section class="pt-0 pb-0">


	<div class="blue-color-section">
	<div class="clearfix container big-container">
		<div class="row">
		<div class=" col-xs-12 col-sm-12 col-md-12 ">
			<div class="section-mypass">




			<div class=" blue-box">
				<i class="icon-trophy info-alt-create"></i>
				<div class="yellow-text"> 
					Receive $10 in credit for every purchase from your unique event link.
				</div>
			</div> 

			<div class=" info-box">
				<i class="ti-info-alt info-alt-create"></i>
				<div class="yellow-text"> 
					See what your unique event link looks like to others
				</div>

				<%= link_to referral_url(@referral), data: { turbolinks: false }, target: :_blank  do %> 
					<div class="new-window-button">
						OPEN IN NEW WINDOW <i class="ti-new-window"></i>
					</div> 
				<% end %>
			</div> 

 			</div>

		</div>


		</div>
	</div>
	</div>




<div class="row container mypass-container">

		<div class="col-xs-12 col-sm-12 col-md-6 ">
			<div class="section-mypass mb-30">
			
			<div class="mypass-share-headers">
					1) Share your link to send an invitation
			</div>

				<div class="holder-social-media-share-buttons">

 				<!-- Target -->
				<div id="bar"><%= referral_url(@referral) %></div>

 				<!-- Trigger -->
				<button class="clipboard-btn btn-addcart btn social-media-share-buttons-clipboard" data-clipboard-action="copy" data-clipboard-target="#bar">
				    <i class="ti-link share-icons link-icon"></i> 
				    <span class="share-button-text">Copy to Clipboard</span>
				</button>

				<a class="btn social-media-share-buttons-twitter "
				  href="https://twitter.com/intent/tweet?text=<%=URI.encode("I'm going to ")%>'<%=@event.event_title%>'. <%=URI.encode("Check it out on Bongopass! ")%><%= referral_url(@referral) %> "
				  data-text="Check out '<%= @event.event_title %>'"
				  data-url= "<%= referral_url(@referral) %>"
				  data-related="twitterapi,twitter"
				  data-size="large"
				  <% if @photos.present? %>
				  data-image="<%=@photos[0].image.url(:original)%>"
				  <% end %>
				  >
				  <i class="ti-twitter share-icons twitter-icon"></i> 
				<span class="share-button-text">Share on Twitter</span>
				</a>



				<div id="shareBtn" class="btn social-media-share-buttons-fb">
					<i class="ti-facebook share-icons facebook-fb-icon"></i> 
					<span class="share-button-text">Share on Facebook</span>
				</div>
			</div>

			</div>

		</div>

			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="section-mypass">

				<div class="mypass-share-headers">
					2) Friends who have Purcahsed a Pass from your link
				</div>


			<div class="panel panel-default panel-shadow referral-panel">
				<div class="panel-heading panel-share">
					FRIENDS JOINING YOU
				</div>
				<div class="panel-body body-panel-referral">

					<div class="friends-joined">
						<% if @friends_joined.count == 0 %>
						<div class="no-friends-name">
						</div>
						<% else %>
							<% @friends_joined.order(:created_at).each do |friends|%>
								<div class="friends-joined">
									<%= friends.first_name %> <%= friends.last_name %>
								</div>	
							<% end %>
						<% end %>
					</div>
						
				</div>
			</div>    

		</div>
		</div>

	</div>


			<div class="black-going-wrapper">
				<h4 class="black-going">YOU'RE GOING!</h4>
			</div>

		<div class="red-header-section red-bottom-header">

			<div class="section-mypass">
	
			<div class="welcome bottom-welcome">
				<%= @event.event_title %>
			</div>
			</div>
		</div>

	
</section>






<script src="//platform.twitter.com/widgets.js"></script>
	


<!-- Facebook Share Features-->





<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1870680056482347',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>


<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    mobile_iframe: true,
    href: "<%= referral_url(@referral) %>",
  }, function(response){});
}
document.getElementById('messengerBtn').onclick = function() {
	FB.ui({
	  method: 'send',
	  link: '<%= referral_url(@referral) %>',
	  href: "http://www.facebook.com/dialog/send?app_id=1870680056482347",
	});
}</script>


<style>
	@media (min-width: 992px) { 
		#topnav {
			background-color: #ed314a; 
		}

		#topnav.scroll {
	    	background-color: #fff;
	    }
	}
</style>

