<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">


<div class="font-set-show-page mypass-section">
	<div class="page-hug">

	<div class="blue-header-section">
		<div class="section-mypass">
		<div class="welcome">
			Welcome to your event dashboard <%= @referral.order.first_name %>!
		</div>
		</div>
	</div>

	<div class="blue-color-section">
	<div class="clearfix page-header container big-container">
	


		<div class="row">
		<div class="event-content col-xs-12 col-sm-12 col-md-12 ">
			<div class="section-mypass">


		
			<p class="you-are-going-top">
				Now you can receive up to $100 by helping others discover "<%= @event.event_title%>" through your personal event page.
				<br>
			</p>

			<div id="learn-more">Learn more</div>
			<div class="invite-explanation hidden" id="learn-more-content">
			Know any friends that would be interested in this event or are already planning to join you? Just send them an invitation by sharing your personal event page and we'll credit your account with <b>$10 for every 3 passes purchased from your link, up to a maximum of $100</b>. You can use this credit towards any future event on Bongopass! 
			<br>
			When friends open your invitation they will see <%= link_to "this", referral_url(@referral), class: "invitation-here", target: :_blank  %>.

			</div>
 			<br>

 			</div>

		</div>


		</div>
	</div>
	</div>


<div class="row container mypass-container">

		<div class="col-xs-12 col-sm-12 col-md-6 ">
			<div class="section-mypass">
			
			<div class="mypass-share-headers">
					1) Share your link to send an invitation
			</div>

				<div class="holder-social-media-share-buttons">

 				<!-- Target -->
				<div id="bar"><%= referral_url(@referral) %></div>

 				<!-- Trigger -->
				<button class="clipboard-btn btn-addcart btn social-media-share-buttons-clipboard" data-clipboard-action="copy" data-clipboard-target="#bar">
				    Copy to Clipboard
				</button>

				<a class="btn social-media-share-buttons-twitter "
				  href="https://twitter.com/intent/tweet?text=<%=URI.encode("I'm going to ")%>'<%=@event.event_title%>'. <%=URI.encode("Check it out on Bongopass! ")%><%= referral_url(@referral) %> "
				  data-text="Check out '<%= @event.event_title %>'"
				  data-url= "<%= referral_url(@referral) %>"
				  data-related="twitterapi,twitter"
				  data-size="large"
				  <% if @photos.present? %>
				  data-image="<%=@photos[0].image.url(:original)%>"
				  <% end %>
				  >
				Share on Twitter
				</a>



				<div id="shareBtn" class="btn social-media-share-buttons-fb">Share on Facebook</div>
			</div>

			</div>

		</div>

			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="section-mypass">

				<div class="mypass-share-headers">
					2) When friends get a pass from your link, you will see them here!
				</div>


			<div class="panel panel-default panel-shadow referral-panel">
				<div class="panel-heading panel-share">
					Friends Joining You
				</div>
				<div class="panel-body body-panel-referral">

					<div class="friends-joined">
						<% if @friends_joined.count == 0 %>
						<div class="no-friends-name">
						</div>
						<% else %>
							<% @friends_joined.order(:created_at).each do |friends|%>
								<div class="friends-joined">
									<%= friends.first_name %> <%= friends.last_name %>
								</div>	
							<% end %>
						<% end %>
					</div>
						
				</div>
			</div>    

		</div>
		</div>

		</div>



	</div>
	</div>


  <script src="//platform.twitter.com/widgets.js"></script>
	


<!-- Facebook Share Features-->

<meta property="fb:app_id"             content="1870680056482347" /> 
<meta property="og:url"                content="<%= referral_url(@referral) %>" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= @event.event_title %>" />
<meta property="og:description"        content="<%= @event.organizer_name %>" />
<% if @photos[0] %>
<meta property="og:image"              content='<%=@photos[0].image.url(:original)%>' />	
<% end %>	



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1870680056482347',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>


<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share_open_graph',
    action_type: 'og.shares',
    mobile_iframe: true,
    display: 'popup',
    action_properties: JSON.stringify({
    	object: {
	      'og:url': '<%= referral_url(@referral) %>',
	      'og:title': '<%= @referral.order.first_name.html_safe %> is going to <%= @event.event_title.html_safe %>',
	      'og:description': '<%= @event.event_description %>',
	      'og:image': '<%=@photos[0].image.url(:original)%>',
    }
  })
  }, function(response){});
}
document.getElementById('messengerBtn').onclick = function() {
	FB.ui({
	  method: 'send',
	  link: '<%= referral_url(@referral) %>',
	  href: "http://www.facebook.com/dialog/send?app_id=1870680056482347",
	});
}</script>






