<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">


<div class="font-set-show-page">

	<div class="page-hug">





	<div class="modal fade" id="friends-modal">
		<div class="modal-dialog">	
			<div class="modal-content modal-margin-exit">
				<div class="modal-header text-center modal-header-joined">
					Friends joining <%= @referral.order.first_name %>   
				</div>
				
				<div class="modal-body">
					<div class="friends-joined">

						<% if @friends_joined.count == 0 %>

						<div class="no-friends-name">
							No friends have joined through your personal event page yet. 
						</div>

						<% else %>
							
							<% @friends_joined.order(:created_at).each do |friends|%>
								<div class="friends-name">
									<%= friends.first_name %> <%= friends.last_name %>
								</div>	
							<% end %>

						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>




<div class="show-button">
	


<div class="top-color-section">
	<div class="clearfix page-header container big-container ">

			  	<div class="event-venue-section invite-section-for-mobile">
	           		<p class="invite-sentence">
	           			<span class="inviter-name"> <%= @referral.order.first_name %> <%= @referral.order.last_name %> </span> 
	           			is going to this event and has invited you to join. Check it out! <br>
	           			<% if @friends_joined.count > 0 %>
		           			<div class="show-friends" data-toggle="modal" data-target="#friends-modal">
								Show friends joining <%= @referral.order.first_name %>	
							</div>
						<% end %>

	           		</p>
	           	</div>


	<p class="event-organizer-presents">
		<%= @event.organizer_name %> Presents:
	</p>

		<div class="row">
			<div class="event-content col-xs-12 col-sm-7 col-md-8">
				<div class="event-title-date">
				<h1 class="headline-event-title"><%= @event.event_title %> </h1>


				<div class="calendar-map-wrapper">
					<div class="alignment-wrapper">
					<div class="event-section-w-on">
						<h5 class="on-only">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</h5>
						<h5 class="headline-event-date"><%= @event.start_date.strftime('%A, %B %e') %> <br> <%= @event.start_time.strftime('%l:%M%p') %> - <%= @event.end_time.strftime('%l:%M%p') %>
						</h5>
					</div>

					<div class="event-section-w-on ">
						<h5 class="on-only">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</h5>
						<h5 class="headline-event-date"><%= @event.venue %> <br> 
							<a class="section2 see-location" href="#section2">View Address</a>
						</h5>
					</div>
					</div>
				</div>
				</div><!--titles-->
	  		</div>


	  		<div class="col-xs-12 col-sm-5 col-md-4">
	  			<div class="event-venue-section">
	           		<p class="invite-sentence">
	           			<span class="inviter-name"> <%= @referral.order.first_name %> <%= @referral.order.last_name %></span> is going to this event and has invited you to join. Check it out!
						<% if @friends_joined.count > 0 %>
		           			<div class="show-friends" data-toggle="modal" data-target="#friends-modal">
								Show friends joining <%= @referral.order.first_name %>	
							</div>
						<% end %>
	           		</p>
	           	</div>
	   		</div>
		</div>
	</div>
</div>


			<div class="background-splash">
				<%if @photos.present? %>
					<%= image_tag @photos[0].image.url(:thumb), class: "splash-image"%>
				<% end %>
			</div>


<div class="container cover-photo-mobile-container">
	<div class="cover-photo-container">	
		<!-- Image -->
		<%if @photos.present? %>
			<%= image_tag @photos[0].image.url(:original), class: "img-responsive cover-photo"%>
		<% else %>
			<div class="photo-request">
				Please upload an event photo. All events on Bongopass require a photo. 
			</div>
		<% end %>
	</div>
</div>



<div class="container big-container">
<div class="col-xs-12 col-sm-7 col-md-8 main-content-section">

	<div class="cover-photo-container cover-photo-big-screen">	
		<!-- Image -->
		<%if @photos.present? %>
			<%= image_tag @photos[0].image.url(:original), class: "img-responsive cover-photo", id:"myImg"%>
		<% else %>
			<div class="photo-request">
				Please upload an event photo. All events on Bongopass require a photo. 
			</div>
		<% end %>
	</div>





		<!-- Event Description -->

	<div class="event-description">
		<div class="description-title description-title-display description-title-mobile">DESCRIPTION</div>
		<div class="event-description-content">
		<%= @event.event_description.html_safe %>
		</div>
	</div>

	<% if @event.organizer_description %>

	<div class="event-organizer-block">
		<div class="description-title description-title-display">
			ABOUT THE HOST 
		</div>
		<div class="show-organizer-description">
			<%= @event.organizer_description %>
		</div>
	</div>

	<% end %>



<div class="ticket-wrapper-for-mobile">

		<div class="no-display-larger">
				SELECT YOUR PASS
		</div>

		<% @tickets.order(:ticket_price).each do |ticket| %>



			<% if ticket.ticket_quantity > 0 %>

			<%= link_to new_ticket_order_path(ticket), data: { turbolinks: false } do %>

			<div class="ticket-box clearfix hvrbox">

			    <div class="hvrbox-layer_top">
			          <div class="hvrbox-text">
			            Get Pass
			          </div>
			    </div>


					<div class="ticket-name-price-desc hvrbox-layer_bottom">							
						<p class="ticket-name"> <%= ticket.ticket_name %> </p>
						<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
					</div>

					<div class="hvrbox-layer_bottom">
						<p class="btn-tickets-modal-page "> <%= number_to_currency(ticket.ticket_price + @bongopass_fee) %> </p>	
					</div>

			</div>

			<% end %>

			<% else %>

			<div class="ticket-box clearfix hvrbox">
			    <div class="hvrbox-layer_top">
			    	  <div class="hvrbox-text">
			            Sold Out
			          </div>
			    </div>

				<div class="ticket-name-price-desc hvrbox-layer_bottom">							
					<p class="ticket-name"> <%= ticket.ticket_name %> </p>
					<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
				</div>

				<div>
					<p class="btn-tickets-modal-page hvrbox-layer_bottom"> Sold Out </p>	
				</div>
			</div>

			<% end %>
			
		<% end %>	
	</div> <!-- ticket-wrapper-for-mobile -->



<div class="event-organizer-block">
		<div class="description-title description-title-display">
			LOCATION 
		</div>

				  <p class="date-location-bold">
						<%= @event.location %> 
					</p>

			<div id="section2">
				<div>

			    <style>
			  		#map {
			        height: 350px;
			        width: 100%;
			       }
			       
			    </style>

			    <div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 14,
			          center: uluru,
			          mapTypeControl: false, 
			          fullscreenControl: false,
			          clickableIcons: false
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });

			        marker.addListener('click', function() {
    infowindow.open(map, marker);
});
new google.maps.event.trigger( marker, 'click' );


			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZuSB97-CMBj8v9Q7cLaltM60f-z0MOg&callback=initMap">
			    </script>


				</div>
			</div>

</div>


</div>




<div class="col-xs-12 col-sm-5 col-md-4 ticket-border-wrapper ticket-border-wrapper-mobile sidebar" id="sidebar">

	<div class="">


	<% @tickets.order(:ticket_price).each do |ticket| %>

	<% if ticket.ticket_quantity > 0 %>

	<%= link_to new_ticket_order_path(ticket), data: { turbolinks: false } do %>

		<div class="ticket-box clearfix hvrbox">
		    <div class="hvrbox-layer_top">
		          <div class="hvrbox-text">
		            Get Pass
		          </div>
		    </div>


			<div class="ticket-name-price-desc hvrbox-layer_bottom">							
				<p class="ticket-name"> <%= ticket.ticket_name %> </p>
				<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
			</div>

			<div>
				<p class="btn-tickets-modal-page hvrbox-layer_bottom"> <%= number_to_currency(ticket.ticket_price + @bongopass_fee) %> </p>	
			</div>


		</div>

		<% end %>

		<% else %>

		<div class="ticket-box clearfix hvrbox">
		    <div class="hvrbox-layer_top">
		    	  <div class="hvrbox-text">
		            Sold Out
		          </div>


		    </div>


			<div class="ticket-name-price-desc hvrbox-layer_bottom">							
				<p class="ticket-name"> <%= ticket.ticket_name %> </p>
				<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
			</div>

			<div>
				<p class="btn-tickets-modal-page hvrbox-layer_bottom"> Sold Out </p>	
			</div>


		</div>

		<% end %>


	<% end %>	



	</div>

<%if false %>

	<div class="messenger-button">
		<a id="messengerBtn" class="btn btn-default social-media-share-buttons-messenger"><span class="align">Plan Your Experience With Friends</span></a>
	</div>

	<div class="messenger-button">
		<a id="messengerBtn"><i class="btn fab fa-facebook-messenger"></i></a>
	</div>
	
<% end %>


	
</div>




		<br>

		<!-- Main Info -->
		<div class="main-info">

			
		<!-- onatby stuff -->
			<div class="onatby-first-container">	
			<div class="onatby-second-container">








<!-- old host with dash line 
			<div class="organizer-section">
				<p class="organizer-host">host</p> 
				<p class="organizer-blue-name"> <%= @event.organizer_name %> </p> 
			</div>
-->



	




<%if false %>
			<!-- Share Buttons -->
			<div class="holder-social-media-share-buttons">
				<div id="shareBtn" class="btn btn-default social-media-share-buttons-fb">Share on Facebook</div>


				<a class="btn btn-default social-media-share-buttons-twitter"
				  href="https://twitter.com/share"
				  data-size="large"
				  data-text="Check out <%= @event.event_title %>"
				  data-url="<%= referral_url(@referral) %>"
				  data-related="twitterapi,twitter"
				  <% if @photos.present? %>
				  data-image="<%=@photos[0].image.url(:original)%>"
				  <% end %>
				  >
				Share on Twitter
				</a>

			</div>
<% end %>


			</div>
	</div>
</div>


</div> <!-- page hug -->
<!-- Show button-->
</div>



	<!-- The Modal -->
<div id="myModal" class="modal-picture">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
</div>


<div class="bottom-color-section">
	<div class="verified-section container">
		<%= @event.organizer_name %> is a Bongopass verified host <i class="fa fa-check-circle" aria-hidden="true"></i>

	</div>

</div>






<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>





<!-- Facebook Share Features-->

<meta property="fb:app_id"             content="1870680056482347" /> 
<meta property="og:url"                content="<%= event_url(@event) %>" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="<%= @event.event_title %>" />
<meta property="og:description"        content="<%= @event.organizer_name %>" />
<% if @photos[0] %>
<meta property="og:image"              content='<%=@photos[0].image.url(:original)%>' />		
<% end %>



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1870680056482347',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>


<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    mobile_iframe: true,
    href: "<%= event_url(@event) %>",
  }, function(response){});
}
document.getElementById('messengerBtn').onclick = function() {
	FB.ui({
	  method: 'send',
	  link: '<%= event_url(@event) %>',
	  href: "http://www.facebook.com/dialog/send?app_id=1870680056482347",
	});
}</script>

<!-- Twitter Share Features-->



<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>



<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>



