
    
<div class="scroll-raiser" id="highlights"></div>

    <section class="section-adjust">
      <div class="container">
        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12">
	        	<div class="title center">
	              <h4 class="upper"><%= @event.organizer_name %> Presents:</h4>
	              <h3><%= @event.event_title %><span class="red-dot"></span></h3>
	              <hr>
	          </div>
	        </div>

			<div class="col-xs-12 col-sm-12 col-md-12"> <!-- Start of under title row -->

						<div class="col-xs-12 col-sm-6 col-md-4 icon-center">
						  <div class="icon-box-basic icon-box-basic-adjust"><i class="icon-calendar"></i>
                <h3 class="date-location-text fw-400"><%= @event.start_date.strftime('%A, %B %e') %></h3>
                <h5 class="fw-400"><%= @event.start_time.strftime('%l:%M%p') %> - <%= @event.end_time.strftime('%l:%M%p') %></h5>
              </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4 icon-center">
						  <div class="icon-box-basic icon-box-basic-adjust"><i class="icon-map"></i>
                <h3 class="date-location-text fw-400"><%= @event.venue %> </h3>
                <p><a href="#location" data-scroll="true">View Address</a></p>
              </div>
            </div>
          

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4 icon-center">
						  <div class="icon-box-basic icon-box-basic-adjust"><i class="icon-trophy"></i>
                <h5 class="bp-credit-info mt-0 fw-400">Credit from Bongopass is available for this event </h5>
                <p><a><%= link_to "Learn more", root_path(:anchor => "about"), target: :_blank %></a></p>
              </div>
            </div>

            <% if false %> <!-- related links -->
            <div class="col-xs-12 col-sm-6 col-md-4">
            	<div id="footer" class="icon-box-basic-adjust related-links "> 
						  	<p class="bp-credit-info ">Related Links:</p>
						  	<div class="footer-social social-buttons">
                <ul>
                  <li>
                    <a target="_blank" href="#"><i class="ti-world"></i></a>
                  </li>                	
                  <li>
                    <a target="_blank" href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-instagram"></i></a>
                  </li>
                </ul>
              </div>
						  </div>
            </div>    
            <% end %>        

	        </div> <!-- End of under title row -->

        </div>
        <!-- end of row                    -->
      </div>
      <!-- end of container                  -->

				<div class="invite-section-row container">   <!-- invite section             -->

					<div class="invite-sentence containermb-15">

						

						<div class="avatar-block">
							<% before_function(@referral.order) %>

							<% if @started_party_array %>
										<div class="tooltip-1">
											<% if @started_party_array.buyer.image %>
												<%= image_tag @started_party_array.buyer.image, class: "img-circle avatar-medium avatar-design inviter" %>
											<% else %>
												<%= image_tag 'https://d3mfs0x6fskujo.cloudfront.net/google-avatar.jpg', class: "img-circle avatar-medium avatar-design inviter" %>
											<% end %>
												<% if @joined_array.count == 0 %>
													<span class="tooltiptext-1 tooltext-inviter"><%= @started_party_array.first_name %> <%= @started_party_array.last_name %> invited you </span>
												<% else %>
													<span class="tooltiptext-1 tooltext-inviter"><%= @started_party_array.first_name %> <%= @started_party_array.last_name %> started the party </span>
												<% end %>

										</div>
							<% end %>


							
							<% if @joined_array.present? %>
								<% @joined_array.sort_by{|a, b| a[:created_at]}.each do |a, b|%>
										<div class="tooltip-1">
											<% if a.buyer.image %>
												<%= image_tag a.buyer.image, class: "img-circle avatar-medium avatar-design invitee" %>
											<% else %>
												<%= image_tag 'https://d3mfs0x6fskujo.cloudfront.net/google-avatar.jpg', class: "img-circle avatar-medium avatar-design invitee" %>
											<% end %>
												<span class="tooltiptext-1 tooltiptext-2">
													<span class="capitalize">
														<%= a.first_name %> <%= a.last_name %>	
													</span> joined 
													<span class="capitalize">
														<%= b.first_name %> <%= b.last_name %>
													</span>
												</span>
										</div>
								<% end %>
							<% end %>



							<!-- original profile photos -->
							<% if @friends_joined.count > 0 %>
									<% @friends_joined.order(:created_at).each do |friends|%>
										<% after_function(friends, @referral.order) %>
									<% end %>

									<% @invited_array.each do |a, b| %>
										<div class="tooltip-1">
											<% if a.buyer.image %>
												<%= image_tag a.buyer.image, class: "img-circle avatar-medium avatar-design invitee" %>
											<% else %>
												<%= image_tag 'https://d3mfs0x6fskujo.cloudfront.net/google-avatar.jpg', class: "img-circle avatar-medium avatar-design invitee" %>
											<% end %>
												<span class="tooltiptext-1 tooltiptext-2">
													<span class="capitalize">
														<%= a.first_name %> <%= a.last_name %> 
													</span>joined 
													<span class="capitalize">
														<%= b.first_name %> <%= b.last_name %>
													</span>
												</span>
										</div>
										<% end %>
							<% end %>


	



						</div>

		
						<div class="invite-sentence-avatar"> <!-- inviter sentence -->
							<span class="inviter-name"> 
								<%= @referral.order.first_name %> <%= @referral.order.last_name %> 
							</span> 
							is going to this event and has invited you to join. Check it out!
							<br>
							<% if @invited_array.count + @joined_array.count == 1 %>
								<span class="count-invites-green tooltip-1 tooltip-party">
									1 friend has joined  
									<span class="capitalize"> <%= @referral.order.first_name %></span>'s
									<span class="party  "> 
										  party.
										 <span class="tooltiptext-1 tooltiptext-3 tooltext-party">
										 	A party includes all the people going from the same group of friends and does not represent everyone attending the event. 
										 </span>
									</span>
								</span>
							<% end %>
							<% if @invited_array.count + @joined_array.count > 1 %>
								<span class="count-invites-green tooltip-1 tooltip-party">
									<%= @invited_array.count + @joined_array.count %> friends have joined 
									<span class="capitalize"> <%= @referral.order.first_name %></span>'s
									<span class="party  "> 
										  party.
										 <span class="tooltiptext-1 tooltiptext-3 tooltext-party">
										 	A party includes all the people going from the same group of friends and does not represent everyone attending the event. 
										 </span>
									</span>
								</span>
							<% end %>
						</div>  <!-- end inviter sentence -->
					</div>

				</div>                          <!-- end of invite section                   -->





      <div id="bar" class="scroll-raiser-photo">
     	</div>

    		<div class="bar-section">
    			<a class="bar-headers highlight-tab-color" href="#highlights" data-scroll="true">Highlights</a>
    				<a class="bar-headers" href="#bar" data-scroll="true">Photo</a>

    				<a  data-toggle="modal" data-target="#ticket-modal">
	    				<span class="btn btn-color btn-sm btn-round bar-header-button-left pass-purchase-wrapper ">
	    					Join <%= @referral.order.first_name %>   
	    				</span>

    				</a>


            <a class="bar-headers" href="#description" data-scroll="true">Details</a>
            <a class="bar-headers" href="#location" data-scroll="true">Location</a>
        </div>

        <div class="bar-section-mobile">
  				<a  data-toggle="modal" data-target="#ticket-modal">
    				<span class="btn btn-color btn-sm btn-round bar-header-button-left pass-purchase-wrapper  ">
    					Join <%= @referral.order.first_name %>   
    				</span>

  				</a>	 	
        </div>

    </section>


    <!-- Home Section-->
    <section id="home" class="splash parallax parallax-remove-red photo-bigs">

      <div>	
      	<%if @photos.present? %>
					<div class="parallax-bg" data-parallax="scroll" data-image-src= <%= @cover_photo %> > </div>
				<% end %>	
			</div>

    </section>

  <section class="photo-smalls pt-0 pb-0">
    <div class=" cover-photo-mobile-container">
      <div class="cover-photo-container"> 
        <!-- Image -->
        <%if @photos.present? %>
          <%= image_tag @photos[0].image.url(:original), class: "img-responsive cover-photo"%>
        <% else %>
          <div class="photo-request">
            Please upload an event photo. All events on Bongopass require a photo. 
          </div>
        <% end %>
      </div>
    </div>
  </section>
    <!-- end of home section-->

<div class="scroll-raiser" id="description"></div>

    <section id="" class="pb-10 pt-35">
      <div class="container">
        <div class="title center">
          <h4 class="upper line-ting">Description</h4>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center desc-styling">
              <p class="grey-text serif lead-text"><%=  @event.event_description.html_safe %></p>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
      <div id="host" class="container">
        <div class="title center">
          <h4 class="upper line-ting">About the Host</h4>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center desc-styling">
              <p class="grey-text serif lead-text"><%= @event.organizer_description.html_safe %></p>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>


<section id="location" class="pt-0 pb-0 bb-0">


			<div class="map-wrapper">

				<div class="location-info-overlay">
					<h4 class="event-venue-map mb-10">
						<%= @event.venue %>
					</h4>
		      <p class="date-location-bold mb-30">
						<%= @event.location %> 
					</p>
					<div>
						<a href=<%= @google_maps %> target="_blank" class="btn btn-color btn-round directions-button"><i class="ti-location-arrow direction-arrow-icon"></i>Directions</a>
          			</div>
		    </div>
		    <div id="map"></div>

			</div>


</section>


		    <script>
		      function initMap() {
		        var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};

		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 16,
		          center: uluru,
		          mapTypeControl: false, 
		          fullscreenControl: false,
		          scrollwheel: false,
		          clickableIcons: false
		        });

		        var marker = new google.maps.Marker({
		          position: uluru,
		          map: map
		        });



		      }
		    </script>
		    <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZuSB97-CMBj8v9Q7cLaltM60f-z0MOg&callback=initMap">
		    </script>


      <% if @organizer_events.count > 0 && @organizer_events.first != @event %>
      <section class="dark bbnone pt-50 pb-50">
        <div class="container">
          <div class="title center">
            <h3 class="fw-400 capitalize more-events-by">More Events by <%= @event.organizer_name%></h3>
            <hr>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;directionNav&quot;: true}" class="flexslider nav-outside">
                  <ul class="slides">
                    <% @organizer_events.each do |event| %>
                      <% if event != @event %>
                        <li class="event-block-dark">
                          <blockquote>
                            <h1> <%= event.event_title %><span class="red-dot fs-48"></span></h1>
                            <p><%= event.venue %></p>
                            <p><%= event.start_date.strftime('%A, %B %e') %></p>
                          </blockquote>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>

                <div class="mt-50 text-center">
                    <%= link_to "View All", community_user_path(@user), data: { turbolinks: false }, target: :_blank, class: "btn btn-color"  %>
                </div>
              </div>
            </div>
            <!-- end of row-->
          </div>
          <!-- end of section content-->
        </div>
        <!-- end of container-->
      </section>
      <% end %>



  <div class="text-center bottom-verified">
     <span class="bongo-b">B</span> <%= @event.organizer_name %> is a Bongopass verified host 
  </div>







				<div class="modal fade" id="ticket-modal">	
					<div class="modal-dialog">	
						<div class="modal-content">
							<div class="modal-header text-center modal-header-design">
								One ticket maximum per person
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close close-modal"></i></span></button>
							</div>
							

							<div class="modal-body">
								<div class="ticket-info-section">
								<% @tickets.order(:ticket_price).each do |ticket| %>
									<div class="ticket-box clearfix">
									<div class="ticket-name-price-desc">							
										<div class="ticket-name-modal"> <%= ticket.ticket_name %> </div>
										<div class="ticket-name-modal"> 
					                      <%= number_to_currency(ticket.ticket_price + @event.reward_fee)%>
					                      <span class="currency-price">
					                        <%= @event.event_currency %> 
					                      </span>
					                    </div>
										<p class="mt-10"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
									</div>
									<div class="text-center"> 
										<% if ticket.ticket_quantity > 0 %>
												<%= link_to "Select", new_ticket_order_path(ticket), class: "btn btn-color btn-round directions-button btn-sm modal-buttons", data: { turbolinks: false } %>
											<% else %>
												<div class="btn btn-color-out btn-round directions-button btn-sm modal-buttons">Sold Out</div>
											<% end %>
									</div>
									</div>
									<hr>
								<% end %>							
								</div>
							</div>
						</div>
					</div>
				</div>























































<% if false %>

    <section class="section-adjust">
      <div class="container">
        <div class="row">
        	<div class="col-xs-12 col-sm-7 col-md-8">
	        	<div class="title">
	              <h4 class="upper"><%= @event.organizer_name %> Presents:</h4>
	              <h3><%= @event.event_title %><span class="red-dot"></span></h3>
	              <hr>
	          </div>

						<div class="calendar-map-wrapper">
							<div class="alignment-wrapper">
							<div class="event-section-w-on">
								<h5 class="on-only">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</h5>
								<h5 class="headline-event-date"><%= @event.start_date.strftime('%A, %B %e') %> <br> <%= @event.start_time.strftime('%l:%M%p') %> - <%= @event.end_time.strftime('%l:%M%p') %>
								</h5>
							</div>


							<div class="event-section-w-on location-for-mobile">
								<h5 class="on-only">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</h5>
								<h5 class="headline-event-date"><%= @event.venue %> <br> <a class=""  href="#section2">View Address</a>
								</h5>
							</div>
							</div>
						</div>

	        </div>

	    		<div class="col-xs-12 col-sm-5 col-md-4">
		  			<div class="event-venue-section disable-blue-event">
		           		<p class="event-venue-actual-name"><%= @event.venue %></p>
		           		<p class="">
		           			<a class=""  href="#section2">View Address</a>
		           		</p>
		        </div>
		   		</div>


        </div>
        <!-- end of row                    -->
      </div>
      <!-- end of container                  -->
    </section>



<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">


<div class="font-set-show-page">

	<div class="page-hug">





	<div class="modal fade" id="friends-modal">
		<div class="modal-dialog">	
			<div class="modal-content modal-margin-exit">
				<div class="modal-header text-center modal-header-joined">
					Friends joining <%= @referral.order.first_name %>   
				</div>
				
				<div class="modal-body">
					<div class="friends-joined">

						<% if @friends_joined.count == 0 %>

						<div class="no-friends-name">
							No friends have joined through your personal event page yet. 
						</div>

						<% else %>
							
							<% @friends_joined.order(:created_at).each do |friends|%>
								<div class="friends-name">
									<%= friends.first_name %> <%= friends.last_name %>
								</div>	
							<% end %>

						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>




<div class="show-button">
	


<div class="top-color-section">
	<div class="clearfix page-header container big-container ">

			  	<div class="event-venue-section invite-section-for-mobile">
	           		<p class="invite-sentence">
	           			<span class="inviter-name"> <%= @referral.order.first_name %> <%= @referral.order.last_name %> </span> 
	           			is going to this event and has invited you to join. Check it out! <br>
	           			<% if @friends_joined.count > 0 %>
		           			<div class="show-friends" data-toggle="modal" data-target="#friends-modal">
								Show friends joining <%= @referral.order.first_name %>	
							</div>
						<% end %>

	           		</p>
	           	</div>


	<p class="event-organizer-presents">
		<%= @event.organizer_name %> Presents:
	</p>

		<div class="row">
			<div class="event-content col-xs-12 col-sm-7 col-md-8">
				<div class="event-title-date">
				<h1 class="headline-event-title"><%= @event.event_title %> </h1>


				<div class="calendar-map-wrapper">
					<div class="alignment-wrapper">
					<div class="event-section-w-on">
						<h5 class="on-only">
							<i class="fa fa-calendar" aria-hidden="true"></i>
						</h5>
						<h5 class="headline-event-date"><%= @event.start_date.strftime('%A, %B %e') %> <br> <%= @event.start_time.strftime('%l:%M%p') %> - <%= @event.end_time.strftime('%l:%M%p') %>
						</h5>
					</div>

					<div class="event-section-w-on ">
						<h5 class="on-only">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</h5>
						<h5 class="headline-event-date"><%= @event.venue %> <br> 
							<a class="section2 see-location" href="#section2">View Address</a>
						</h5>
					</div>
					</div>
				</div>
				</div><!--titles-->
	  		</div>


	  		<div class="col-xs-12 col-sm-5 col-md-4">
	  			<div class="event-venue-section">
	           		<p class="invite-sentence">
	           			<span class="inviter-name"> <%= @referral.order.first_name %> <%= @referral.order.last_name %></span> is going to this event and has invited you to join. Check it out!
						<% if @friends_joined.count > 0 %>
		           			<div class="show-friends" data-toggle="modal" data-target="#friends-modal">
								Show friends joining <%= @referral.order.first_name %>	
							</div>
						<% end %>
	           		</p>
	           	</div>
	   		</div>
		</div>
	</div>
</div>


			<div class="background-splash">
				<%if @photos.present? %>
					<%= image_tag @photos[0].image.url(:thumb), class: "splash-image"%>
				<% end %>
			</div>


<div class="container cover-photo-mobile-container">
	<div class="cover-photo-container">	
		<!-- Image -->
		<%if @photos.present? %>
			<%= image_tag @photos[0].image.url(:original), class: "img-responsive cover-photo"%>
		<% else %>
			<div class="photo-request">
				Please upload an event photo. All events on Bongopass require a photo. 
			</div>
		<% end %>
	</div>
</div>



<div class="container big-container">
<div class="col-xs-12 col-sm-7 col-md-8 main-content-section">

	<div class="cover-photo-container cover-photo-big-screen">	
		<!-- Image -->
		<%if @photos.present? %>
			<%= image_tag @photos[0].image.url(:original), class: "img-responsive cover-photo", id:"myImg"%>
		<% else %>
			<div class="photo-request">
				Please upload an event photo. All events on Bongopass require a photo. 
			</div>
		<% end %>
	</div>





		<!-- Event Description -->

	<div class="event-description">
		<div class="description-title description-title-display description-title-mobile">DESCRIPTION</div>
		<div class="event-description-content">
		<%= @event.event_description.html_safe %>
		</div>
	</div>

	<% if @event.organizer_description %>

	<div class="event-organizer-block">
		<div class="description-title description-title-display">
			ABOUT THE HOST 
		</div>
		<div class="show-organizer-description">
			<%= @event.organizer_description.html_safe %>
		</div>
	</div>

	<% end %>



<div class="ticket-wrapper-for-mobile">

		<div class="no-display-larger">
				SELECT YOUR PASS
		</div>

		<% @tickets.order(:ticket_price).each do |ticket| %>



			<% if ticket.ticket_quantity > 0 %>

			<%= link_to new_ticket_order_path(ticket), data: { turbolinks: false } do %>

			<div class="ticket-box clearfix hvrbox">

			    <div class="hvrbox-layer_top">
			          <div class="hvrbox-text">
			            Get Pass
			          </div>
			    </div>


					<div class="ticket-name-price-desc hvrbox-layer_bottom">							
						<p class="ticket-name"> <%= ticket.ticket_name %> </p>
						<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
					</div>

					<div class="hvrbox-layer_bottom">
						<p class="btn-tickets-modal-page "> <%= number_to_currency(ticket.ticket_price + @bongopass_fee) %> </p>	
					</div>

			</div>

			<% end %>

			<% else %>

			<div class="ticket-box clearfix hvrbox">
			    <div class="hvrbox-layer_top">
			    	  <div class="hvrbox-text">
			            Sold Out
			          </div>
			    </div>

				<div class="ticket-name-price-desc hvrbox-layer_bottom">							
					<p class="ticket-name"> <%= ticket.ticket_name %> </p>
					<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
				</div>

				<div>
					<p class="btn-tickets-modal-page hvrbox-layer_bottom"> Sold Out </p>	
				</div>
			</div>

			<% end %>
			
		<% end %>	
	</div> <!-- ticket-wrapper-for-mobile -->



<div class="event-organizer-block">
		<div class="description-title description-title-display">
			LOCATION 
		</div>

				  <p class="date-location-bold">
						<%= @event.location %> 
					</p>

			<div id="section2">
				<div>

			    <style>
			  		#map {
			        height: 350px;
			        width: 100%;
			       }
			       
			    </style>

			    <div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 14,
			          center: uluru,
			          mapTypeControl: false, 
			          fullscreenControl: false,
			          clickableIcons: false
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });

			        marker.addListener('click', function() {
    infowindow.open(map, marker);
});
new google.maps.event.trigger( marker, 'click' );


			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZuSB97-CMBj8v9Q7cLaltM60f-z0MOg&callback=initMap">
			    </script>


				</div>
			</div>

</div>


</div>




<div class="col-xs-12 col-sm-5 col-md-4 ticket-border-wrapper ticket-border-wrapper-mobile sidebar" id="sidebar">

	<div class="">


	<% @tickets.order(:ticket_price).each do |ticket| %>

	<% if ticket.ticket_quantity > 0 %>

	<%= link_to new_ticket_order_path(ticket), data: { turbolinks: false } do %>

		<div class="ticket-box clearfix hvrbox">
		    <div class="hvrbox-layer_top">
		          <div class="hvrbox-text">
		            Get Pass
		          </div>
		    </div>


			<div class="ticket-name-price-desc hvrbox-layer_bottom">							
				<p class="ticket-name"> <%= ticket.ticket_name %> </p>
				<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
			</div>

			<div>
				<p class="btn-tickets-modal-page hvrbox-layer_bottom"> <%= number_to_currency(ticket.ticket_price + @bongopass_fee) %> </p>	
			</div>


		</div>

		<% end %>

		<% else %>

		<div class="ticket-box clearfix hvrbox">
		    <div class="hvrbox-layer_top">
		    	  <div class="hvrbox-text">
		            Sold Out
		          </div>


		    </div>


			<div class="ticket-name-price-desc hvrbox-layer_bottom">							
				<p class="ticket-name"> <%= ticket.ticket_name %> </p>
				<p class="ticket-description"> <%= ticket.ticket_description if ticket.ticket_description%> </p>	
			</div>

			<div>
				<p class="btn-tickets-modal-page hvrbox-layer_bottom"> Sold Out </p>	
			</div>


		</div>

		<% end %>


	<% end %>	



	</div>

<%if false %>

	<div class="messenger-button">
		<a id="messengerBtn" class="btn btn-default social-media-share-buttons-messenger"><span class="align">Plan Your Experience With Friends</span></a>
	</div>

	<div class="messenger-button">
		<a id="messengerBtn"><i class="btn fab fa-facebook-messenger"></i></a>
	</div>
	
<% end %>


	
</div>




		<br>

		<!-- Main Info -->
		<div class="main-info">

			
		<!-- onatby stuff -->
			<div class="onatby-first-container">	
			<div class="onatby-second-container">








<!-- old host with dash line 
			<div class="organizer-section">
				<p class="organizer-host">host</p> 
				<p class="organizer-blue-name"> <%= @event.organizer_name %> </p> 
			</div>
-->



	







			</div>
	</div>
</div>


</div> <!-- page hug -->
<!-- Show button-->
</div>



	<!-- The Modal -->
<div id="myModal" class="modal-picture">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
</div>


<div class="bottom-color-section">
	<div class="verified-section container">
		<%= @event.organizer_name %> is a Bongopass verified host <i class="fa fa-check-circle" aria-hidden="true"></i>

	</div>

</div>



<script type="text/javascript" src="https://d3mfs0x6fskujo.cloudfront.net/jquery.js" ></script> 


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>



<% end  %>

<script type="text/javascript" src="https://d3mfs0x6fskujo.cloudfront.net/jquery.js" ></script> 
