<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">


<div class="container">
	<h1 class="support-header">
		Support
	</h1>

<div class="row">
 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Most Frequently Asked 
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	What is Bongopass?
		</h4>

			<p class="trams-con">
				Bongopass is a live events platform that partners with established artists, DJ's, venues, and event organizers to bring our community awesome live experiences. We strive to help you discover great events through your friends or favourite event organizers and make it easier to find a group of friends to go with.
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How do Bongopass credits work?
		</h4>

			<p class="trams-con">
				Events on Bongopass are only as awesome as the people that go to it. So after you purchase a Pass on Bongopass we share our profits with you for helping others discover a great experience. Bongopass will credit your account with $10 for every 3 passes purchased on your personal event page, up to a maximum of $100. You can find your personal event page and track your credits under "My Passes".
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	I have paid for my Pass but did not receive an email confirmation. What should I do?
		</h4>

			<p class="trams-con">
				If your payment was processed, you can find your Pass under "My Passes". If it's there, don't worry you'll get in to the event as long as you bring a verified government ID. If your Pass is not there, your payment was not successful so please try again. 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How do I host events with Bongopass?
		</h4>

			<p class="trams-con">
				If you are an established artist, DJ, venue, or event organizer, we'd love to work with you. Apply <a href="/join">here</a>. 
			</p>
		</div>
	  </div>
	</div>

</div>

 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Passes
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How many Passes can I purchase to an event?
		</h4>

			<p class="trams-con">
				Everyone is limited to only one Pass type per event. If there are two different Passes to an event, you can purchase one of each. 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	What will others see when I share my personal event page. 
		</h4>

			<p class="trams-con">
				You will receive a personal event page for every Pass you purchase on Bongopass. When you share your personal event page, your friends will see the actual event content and a message letting them know they have been invited by you. They will also be able to see the names of the individuals who have purchased a Pass through your personal event page. 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	What do I bring to the event once I've purchased my Pass?
		</h4>

			<p class="trams-con">
				If you purchased a Pass, all you need to bring is a verified government ID so we know it's you.  
			</p>
		</div>
	  </div>
	</div>



</div>



 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Cancellations
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	Can I change or return my Pass?
		</h4>

			<p class="trams-con">
				Passes are non-refundable, non-transferable and cannot be changed for other Passes, as mentioned on the checkout page. 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	The event was cancelled. What should I do now? 
		</h4>

			<p class="trams-con">
				You will be informed by the event organizer or the Bongopass team about your next steps. In most cases, you will have the choice to be given a refund or attend the event on a rescheduled date. 
			</p>
		</div>
	  </div>
	</div>



</div>
</div>

<p class="contact-for-more-support">
	Didn't find what you were looking for? Contact us at support@bongopass.com
</p>


	<h1 class="support-header">
		Feedback
	</h1>


	<h4 class="feedback-opening">
		Events are organized by people and attended by people, so it's obvious why Bongopass values the feedback of every person on our platform. 
 		<br>
		<br>
		<b>If it's helpful we'll credit your account with $10!  </b>
	</h4>


<%= simple_form_for @support, :html => {:class => '' } do |f| %>

<div class="col-md-9 col-centered">
    
    <%= f.input :feedback, label: false, :placeholder => "Feedback: Let us know what you love or want to see changed on Bongopass.", input_html: {class: "feedback-form feedback-input"}, :as => 'text' %>
    <%= f.input :email, :required => true, label: false, :placeholder => "Email (required)", input_html: {class: "feedback-form"} %>


    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      <% if @email %>
      <%= f.input :user, :input_html => { :value => @email} %>
      <% end %>
    </div>
    <div>
      <br>
      <%= f.submit 'Send Feedback', :class=> "btn join-submit send-feedback-submit" %>
    </div>


</div>
  <% end %>











</div>













<script>
$('#toggle1,#toggle2').click(function() {
  $('.trams-con', this).slideToggle('fast');
  if ($(this).hasClass('fa-minus')) {
    $(this).removeClass('fa-minus').addClass('fa-plus');
  } else {
    $(this).addClass('fa-minus');
  }
  return false;
});
</script>