<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">



<div class="container">
	<h1 class="support-header">
		Support
	</h1>

<div class="row">
 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Most Frequently Asked 
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How does Bongopass work?
		</h4>

			<p class="trams-con">
				Bongopass is a live events platform that partners with established artists, DJs, venues, and event organizers to bring our community awesome live experiences. We share up to 90% of our profits with attendees to make it easier for people to discover great events. 
				<br>
				<br>
				When you help your friends discover events you're going to on Bongopass, we enable you to attend future events for free. That's why events are always more awesome on Bongopass! 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How do Bongopass credits work?
		</h4>

			<p class="trams-con">
				After you purchase a Pass on Bongopass we share our profits with you for helping others discover a great experience. Bongopass will credit your account with $10 for every 3 passes purchased on your Personal Event Page, up to a maximum of $100. You can find your Personal Event Page and track your credits when you click "Invite Friends" under "My Passes".
			</p>
		</div>
	  </div>
	</div>



	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	What will others see when I share my Personal Event Page. 
		</h4>

			<p class="trams-con">
				You will receive a Personal Event Page for every Pass you purchase on Bongopass. To invite friends, share your personal event page. When your friends open this link they will see the actual event details and a message letting them know they have been invited by you. They will also be able to see the names of the individuals who have purchased a Pass through your Personal Event Page. 
			</p>
		</div>
	  </div>
	</div>




</div>

 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Passes
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	How many Passes can I purchase to an event?
		</h4>

			<p class="trams-con">
				Everyone is limited to only one Pass type per event. If there are two different Passes to an event, you can purchase one of each if needed. 
			</p>
		</div>
	  </div>
	</div>



	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	What do I bring to the event once I've purchased my Pass?
		</h4>

			<p class="trams-con">
				If you purchased a Pass, all you need to bring is a verified government ID so we know it's you.  
			</p>
		</div>
	  </div>
	</div>



</div>



 <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
 	<h2 class="question-headers">
 		Cancellations
 	</h2>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	Can I change or return my Pass?
		</h4>

			<p class="trams-con">
				Passes are non-refundable, non-transferable and cannot be changed for other Passes, as mentioned on the checkout page. 
			</p>
		</div>
	  </div>
	</div>

	<div class="trams-conditions">
	  <div href="#" id="toggle2" class="fa fa-plus question-wrapper">
	  	<div class="question-answer"> 

	  	<h4 class="support-question"> 
		  	The event was cancelled. What should I do now? 
		</h4>

			<p class="trams-con">
				You will be informed by the event organizer or the Bongopass team about your next steps. In most cases, you will have the choice to be given a refund or attend the event at a rescheduled date. 
			</p>
		</div>
	  </div>
	</div>



</div>
</div>


<p class="contact-for-more-support">
	Didn't find what you were looking for? Reply to your order confirmation email or contact us at support@bongopass.com
</p>


	<h1 class="support-header">
		Feedback
	</h1>


	<h4 class="feedback-opening">
		Events are organized by people and attended by people, so it's obvious why Bongopass values the feedback of every person on our platform. 
 		<br>
		<br>
		<b>If it's helpful we'll credit your account with $10!  </b>
	</h4>


<%= simple_form_for @support, :html => {:class => '' } do |f| %>

<div class="col-md-9 col-centered">
    
    <%= f.input :feedback, label: false, :placeholder => "Feedback: Let us know what you love or want to see changed on Bongopass.", input_html: {class: "feedback-form feedback-input"}, :as => 'text' %>
    <%= f.input :email, :required => true, label: false, :placeholder => "Email (required)", input_html: {class: "feedback-form"} %>


    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      <% if @email %>
      <%= f.input :user, :input_html => { :value => @email} %>
      <% end %>
    </div>
    <div>
      <br>
      <%= f.submit 'Send Feedback', :class=> "btn join-submit send-feedback-submit" %>
    </div>


</div>
  <% end %>











</div>













<script>
$('#toggle1,#toggle2').click(function() {
  $('.trams-con', this).slideToggle('fast');
  if ($(this).hasClass('fa-minus')) {
    $(this).removeClass('fa-minus').addClass('fa-plus');
  } else {
    $(this).addClass('fa-minus');
  }
  return false;
});
</script>