<style>

#topnav {
  position: absolute;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.nav-tabs > li.active > a {
  background-color: #ed314a !important;
  color: white !important;
}

</style>
<!--  
  After an attendee makes a purchase from the host's event page 
  The attendee receives their own event page, used to easily invite friends, as well as display the friends they are attending with. For every purchase from an attendee's event page, the attendee receives a share of the sale price as a credit.
  Let your attendees harness the power of their social connections through their dashboard to your event.
  Do you sell alcohol, food, or merchandise? Let attendees use their credits to make purchases from their dashboard before the event even starts. 
  Because our fees are very low, the extra "service fee" your attendees would pay on other platforms can now be used for rewards. Learn more after you apply below.  
 -->
<% content_for :navbar do %>
  <%= render 'shared/navbar-dark'%>
<% end %>

    <section class="ny-image-bg pt-0">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 ">
              <div class="title center mb-50 jt-mb-0">
                <h3 class="jt-1">Re-defining How People Discover Events.</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <ul role="tablist" class="nav nav-tabs center">
                <li role="presentation" class="active fw-500"><a href="#first-tab" role="tab" data-toggle="tab" class="tab-override-fill">Before Purchase</a>
                </li>
                <li role="presentation" class=" fw-500"><a href="#second-tab" role="tab" data-toggle="tab">After Purchase</a>
                </li>
                <li role="presentation" class=" fw-500"><a href="#third-tab" role="tab" data-toggle="tab">Inviting Friends</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="first-tab" role="tabpanel" class="tab-pane active">
                  <div class="col-md-10 col-md-offset-1">
                    <p class=" jt-5 text-center click-boxes-join">Create easy to read, eye-catching event pages that attendees love. 
                    </p>
                    <img src="https://s3.ca-central-1.amazonaws.com/bongopass/demo+screenshot+1.png" alt="" class="mt-15">
                  </div>
                </div>
                <div id="second-tab" role="tabpanel" class="tab-pane">
                  <div class="col-md-10 col-md-offset-1">
                    <p class=" jt-5 text-left click-boxes-join">After attendees purchase a Pass on Bongopass, they get their own unique event page/url to your event, so they can let friends know they're going and invite them to join. <b> You can create a custom rewards program to reward attendees for every friend they invite.</b> </p>
                    <img src="https://s3.ca-central-1.amazonaws.com/bongopass/demo+screenshot+2.png" alt="" class="mt-15">
                  </div>
                </div>
                <div id="third-tab" role="tabpanel" class="tab-pane">
                  <div class="col-md-10 col-md-offset-1">
                    <p class=" jt-5 text-left click-boxes-join">As friends join the attendee, they will also be displayed on the event page, making it easier for others to see all the people going from the same group of friends. </p>
                    <img src="https://s3.ca-central-1.amazonaws.com/bongopass/demo+screenshot+3.png" alt="" class="mt-15">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>

    <section class="dark">
        <div class="row ">
          <div class="col-md-10 col-md-offset-1 pt-25">
            <div class="title center mb-50">
              <h3 class="white-text font-join jt-1 text-left">
                Attendees receive credit for every purchase from their unique event page/url. It can be applied towards any future event or product on Bongopass.
              </h3>
            </div>
          </div>
        </div>
    </section>

    <section class="ny-image-bg jt-p-50" ><!-- dashboard and mobile screenshot -->
      <div class="container ny-image-holder">
        <div class="row">
          <div class="title col-md-12">
            <h4 class=" jt-3">
              Let attendees take control of your event and harness the power of their social network through an event dashboard.
            </h4>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <img src="https://s3.ca-central-1.amazonaws.com/bongopass/host+demo+page-dashboard.png" alt="" class="screenshot-section">
          </div>
          <div class="title col-md-12">
            <h4 class=" jt-3">
              Do you sell alcohol, food, or merchandise? 
            </h4>
            <h4 class=" jt-3 color-5">
              Let attendees use their credits to make purchases from the dashboard before the event even begins.
            </h4>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>


    <section class="dark ">
      <div class="container">
            <h4 class="blue-on-blue-text text-center jt-4">
              Go viral - Create conversations - Bring people together
            </h4>
        <div class="row">

          <div class="col-md-4 col-sm-12">
            <div class="counter">
              <div class="counter-icon"><i class="icon-chat"></i>
              </div>
              <div class="counter-content">
                <h5><span data-count="6" class="number-count fw-600">6</span><span class="fw-600">x</span></h5><span class="fw-600">More Social Media Shares</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="counter">
              <div class="counter-icon"><i class="icon-presentation"></i>
              </div>
              <div class="counter-content">
                <h5><span data-count="10" class="number-count fw-600">10</span><span class="fw-600">x</span></h5><span class="fw-600">More event views</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="counter">
              <div class="counter-icon"><i class="icon-profile-male"></i>
              </div>
              <div class="counter-content">
                <h5> <span data-count="33" class="number-count fw-600">33</span><span class="fw-600">%</span></h5><span class="fw-600">Bought from an invitation</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>


        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>





    <section class=" ">
      <div class="container">
        <div class="title center">
          <h4 class="upper">Is Bongopass the right fit for your next event?</h4>
          <h2>Features<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content ">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-sm-5">
                  <div class="icon-box-basic icon-adjuster "><i class="icon-global"></i>
                    <h4 class="join-icon-header">Attendees With More Purchasing Power</h4>
                    <p>Access thousands of attendees (and growing!) that can use their credit to attend your events for free, while you still receive your full payout.</p>
                  </div>
                  <div class="icon-box-basic icon-adjuster "><i class="icon-hotairballoon"></i>
                    <h4 class="join-icon-header">Empower your Attendees</h4>
                    <p>Empower the ones most interested in your events with personalized sharing tools.</p>
                  </div>
                  <div class="icon-box-basic icon-adjuster "><i class="icon-telescope"></i>
                    <h4 class="join-icon-header">Know Your Attendees</h4>
                    <p>Know your loyal attendees that invite the most friends so you can build a relationship with them.</p>
                  </div>
                </div>
                <div class="col-sm-5 col-md-offset-2">
                  <div class="icon-box-basic icon-adjuster "><i class="icon-megaphone"></i>
                    <h4 class="join-icon-header">Untapped marketing potential</h4>
                    <p>Allow your attendees to carry out your most effective marketing campaign - by spreading the word about your event and company through word of mouth.</p>
                  </div>
                  <div class="icon-box-basic icon-adjuster "><i class="icon-genius"></i>
                    <h4 class="join-icon-header">Create a shared economy</h4>
                    <p>Attendees work with you to help make your event a success. You have full control of how they can earn rewards. </p>
                  </div>
                  <div class="icon-box-basic icon-adjuster "><i class="icon-browser"></i>
                    <h4 class="join-icon-header">Attendee Focused</h4>
                    <p>We never distract your attendees by showing them other events, hosts, or ads so they stay focused on your events.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>


    <section class="parallax">
      <div data-parallax="scroll" data-image-src="https://s3.ca-central-1.amazonaws.com/bongopass/5.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay pb-50 pt-50">
        <div class="container">
          <div class="title center">
            <h3>What Our Hosts Say<span class="red-dot"></span></h3>
            <hr>
          </div>
          <div class="section-content">
            <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;controlNav&quot;: true}" class="flexslider nav-outside">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>"Facebook ads never work for me, they seem to drive awareness but they don't drive ticket sales. Bongopass helps me drive more sales and I can see which fans are helping me do it."</p>
                    <footer>Martina T. - Recording Artist</footer>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>"Most customers are able to attend my events for free... I'm able to help the customers that help me sell more Passes through a self-funded rewards program, very impressive business model."</p>
                    <footer>Benji K. - Chicago Nightclub</footer>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of container-->
      </div>
    </section>



    <section id="process" class="dark">
      <div class="container">
        <div class="title center">
          <h4 class="upper">We don't take advantage of your hard work.</h4>
          <h2>Simple Pricing<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 col-sm-6 text-center">
              <div class="number-box"><span>Bongopass Fee</span>
                <h2 class="font-override-1">$0.99</h2>
                <h3>Per Transaction.</h3>
                <h3>Passed on to Attendees.</h3>
                <div class="title center text-center"></div>
                <p>Competitive pricing that can't be beat by other event registration companies.</p><div class="title center text-center"><hr class="jt-mb-30"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
              <div class="number-box"><span>Bank Transaction Cost</span>
                <h2 class="font-override-1">2.9% + $0.30</h2>
                <h3>Per Transaction.</h3>
                <h3>Passed on to Hosts.</h3>
                
                <p>We use Stripe to process all our payments securely. Read more about Stripe <a  href="https://stripe.com/us/pricing" target="_blank">here</a>. Stripe is used by companies like Amazon and Lyft. <b>Bongopass does not make money from this transaction cost.</b> </p> <div class="title center text-center"><hr></div>
              </div>
            </div>

          </div>
          <!-- end of row-->
        </div>
        <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <h5 class="">*Because our fees are low, the extra "service fee" your attendees would have paid on other event platforms can now be used for rewards. We'll tell you how it works for your event size and category once we receive your application below.  </h5>
        </div>
        </div>
      </div>
      <!-- end of section content-->
    </section>
    <!-- end of container-->


    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">Submit your application. We'll reach out to you.</h4>
          <h2>Let's Work Together<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="">
                <%= simple_form_for @join, :html => {:class => '' } do |f| %>
                  <div class="form-group">
                    <%= f.input :full_name, :required => true, :placeholder => "Full Name", label: false, input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :email, :required => true, label: false, :placeholder => "Email", input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :phone, label: false, :placeholder => "Phone Number", input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :website, label: false, :required => true, :placeholder => "Website or Facebook Page", input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :ticket_count, label: false, :required => true, :placeholder => "# Guests per event", input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :event_count, label: false, :required => true, :placeholder => "# Events per year", input_html: {class: "join-form-inputs"} %>
                  </div>
                  <div class="form-group">
                    <%= f.input :tell_us_more, label: false, :required => true, :placeholder => "Tell us more so we could serve you better", input_html: {class: "join-form-inputs"}, as: :text %>
                  </div>
                  <div class="form-group">
                    <%= f.input :invite, label: false, :placeholder => "Include your access code here if you were invited by us", input_html: {class: "join-form-inputs"}, as: :text %>
                  </div>
                  <div class= "hidden">
                    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    <%= f.input :user, :input_html => { :value => @email} %>
                  </div>

                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-color">Submit Application</button>
                  </div>
                <% end %>
              </div>
              <!-- end of contact form-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
    
    </section>





